{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Koszyk</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<ul class="cartpage-steps">
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Podsumowanie zamówienia</span>
					<span class="number">1</span>
				</strong>
			</li>
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Dane adresowe i dostawa</span>
					<span class="number">2</span>
				</strong>
			</li>
			<li class="cartpage-step -current">
				<strong class="step">
					<span class="text">Płatność elektroniczna</span>
					<span class="number">3</span>
				</strong>
			</li>
		</ul>
		<p class="globalAlert-message -failure">
			Uzupełnij poprawnie wymagane pola!
		</p>
		<form action="" class="cartpage-userDataContainer">
			<section class="userData-box">
				<h2 class="title">Dane zamawiającego</h2>
				<div class="globalSelect-container">
					<div class="globalSelect-box -w665">
						<select class="globalSelect" id="delivery" name="">
							<option value="DPD">Wybierz z książki adresowej</option>
							<option value="DPD">Wybierz z książki adresowej2</option>
							<option value="DPD">Wybierz z książki adresowej3</option>
							<option value="DPD">Wybierz z książki adresowej4</option>
						</select>
					</div> {# end of select box #}
				</div> {# end of select container #}
				<div class="input-row">
					<div class="globalInput-box -fixed">
						<input type="text" class="globalInput" placeholder="Imię i nazwisko">
					</div>
					<div class="globalInput-box -fixed">
						<input type="email" class="globalInput" placeholder="E-mail">
					</div>
					<div class="globalInput-box -fwidth">
						<input type="tel" class="globalInput" placeholder="Telefon np. +48 123 456 789">
					</div>
				</div> {# end of input row #}
				<div class="input-row -address">
					<div class="globalInput-box -fixed">
						<input type="text" class="globalInput" placeholder="Ulica">
					</div>
					<div class="globalInput-box -slash">
						<input type="text" class="globalInput" placeholder="nr domu">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="nr mieszkania">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="Kod pocztowy">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="Miasto">
					</div>

				</div> {# end of input row #}

			</section> {# end of user data container #}
			<section class="userData-box">
				<header class="userData-header">
					<h2 class="title">Adres dostawy</h2>
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<span class="globalCheckbox-label"><span class="text">Inny adres dostawy</span></span>
					</label>
				</header>
				<div class="globalSelect-container">
					<div class="globalSelect-box -w665">
						<select class="globalSelect" id="delivery" name="">
							<option value="DPD">Wybierz z książki adresowej</option>
							<option value="DPD">Wybierz z książki adresowej2</option>
							<option value="DPD">Wybierz z książki adresowej3</option>
							<option value="DPD">Wybierz z książki adresowej4</option>
						</select>
					</div> {# end of select box #}
				</div> {# end of select container #}
				<div class="input-row">
					<div class="globalInput-box -fixed">
						<input type="text" class="globalInput" placeholder="Imię i nazwisko">
					</div>
					<div class="globalInput-box -fixed">
						<input type="email" class="globalInput" placeholder="E-mail">
					</div>
					<div class="globalInput-box -fwidth">
						<input type="tel" class="globalInput" placeholder="Telefon np. +48 123 456 789">
					</div>
				</div> {# end of input row #}
				<div class="input-row -address">
					<div class="globalInput-box -fixed -error">
						<input type="text" class="globalInput" placeholder="Ulica">
						<span class="text">Pole jest wymagane</span>
					</div>
					<div class="globalInput-box -slash">
						<input type="text" class="globalInput" placeholder="nr domu">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="nr mieszkania">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="Kod pocztowy">
					</div>
					<div class="globalInput-box -error">
						<input type="text" class="globalInput" placeholder="Miasto">
						<span class="text">Pole jest wymagane</span>
					</div>

				</div> {# end of input row #}

			</section> {# end of user data container #}
			<section class="userData-box">
				<header class="userData-header">
					<h2 class="title">Dane do faktury</h2>
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<span class="globalCheckbox-label"><span class="text">Chcę otrzymać Fakturę VAT</span></span>
					</label>
				</header>
				<div class="globalSelect-container">
					<div class="globalSelect-box -w665">
						<select class="globalSelect" id="delivery" name="">
							<option value="DPD">Wybierz z książki adresowej</option>
							<option value="DPD">Wybierz z książki adresowej2</option>
							<option value="DPD">Wybierz z książki adresowej3</option>
							<option value="DPD">Wybierz z książki adresowej4</option>
						</select>
					</div> {# end of select box #}
				</div> {# end of select container #}
				<div class="input-row">
					<div class="globalInput-box -fixed -w665">
						<input type="text" class="globalInput" placeholder="Nazwa">
					</div>
					<div class="globalInput-box -fwidth">
						<input type="text" class="globalInput" placeholder="NIP">
					</div>
				</div> {# end of input row #}
				<div class="input-row -address">
					<div class="globalInput-box -fixed">
						<input type="text" class="globalInput" placeholder="Ulica">
					</div>
					<div class="globalInput-box -slash">
						<input type="text" class="globalInput" placeholder="nr domu">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="nr mieszkania">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="Kod pocztowy">
					</div>
					<div class="globalInput-box">
						<input type="text" class="globalInput" placeholder="Miasto">
					</div>
				</div> {# end of input row #}
				<footer class="cartpage-footer">
					<a href="#!" class="globalBtn -prev"><svg class="icon icon-arrowleft"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-arrowleft"></use></svg> Wróć do logowania</a>
					<a href="#!" class="globalBtn -highlight -next">
						<span>Dalej</span>
						<svg class="icon icon-arrowright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-arrowright"></use></svg></a>
				</footer>
			</section> {# end of user data container #}
		</form>
	</section> {# end of page container #}
</main>
{% endblock %}