{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="wrapper">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Koszyk</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<ul class="cartpage-steps">
			<li class="cartpage-step -current">
				<strong class="step">
					<span class="text">Podsumowanie zamówienia</span>
					<span class="number">1</span>
				</strong>
			</li>
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Dane adresowe i dostawa</span>
					<span class="number">2</span>
				</strong>
			</li>
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Płatność elektroniczna</span>
					<span class="number">3</span>
				</strong>
			</li>
		</ul>
		<section class="cartpage-products">
			<div class="table-container">
				<div class="table-row -head">
					<div class="cell">Nazwa produktu</div>
					<div class="cell">Cena jednostkowa</div>
					<div class="cell">Ilość</div>
					<div class="cell">Wartość</div>
				</div> {# end of table row #}
				<article class="table-row">
					<div class="cell">
						<a href="#!" class="image-box">
							<img src="assets/img/products/cart-example.jpg" class="img" alt="">
						</a>
						<div>
							<span class="ean">EAN: 6421951096002</span>
							<h2 class="name">
								<a href="#!" class="link">Tailored Fit iris Blue Twill Jacket</a>
							</h2>
						</div>
						<button class="globalBtn -shoppinglist hide -tomd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena: </span>
							<span class="price">101.99</span>
							<span class="currency">zł / szt</span>
						</div>
					</div> {# end of cell #}
					<div class="cell">
						<div class="cartpage-qty">
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-minus"></use>
								</svg>
							</button>
							<span class="qty">3</span>
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-plus"></use>
								</svg>
							</button>
						</div>
						<button class="globalBtn -shoppinglist hide -frommd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena łącznie: </span>
							<span class="price">258.99</span>
							<span class="currency">zł</span>
						</div>
					</div> {# end of cell #}
					<button class="close" type="button">
						<span class="fas fa-times"></span>
					</button>
				</article> {# end of table row #}
				<article class="table-row">
					<div class="cell">
						<a href="#!" class="image-box">
							<img src="assets/img/products/cart-example.jpg" class="img" alt="">
						</a>
						<div>
							<span class="ean">EAN: 6421951096002</span>
							<h2 class="name">
								<a href="#!" class="link">Tailored Fit iris Blue Twill Jacket</a>
							</h2>
						</div>
						<button class="globalBtn -shoppinglist hide -tomd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena: </span>
							<span class="price">101.99</span>
							<span class="currency">zł / szt</span>
						</div>
					</div> {# end of cell #}
					<div class="cell">
						<div class="cartpage-qty">
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-minus"></use>
								</svg>
							</button>
							<span class="qty">3</span>
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-plus"></use>
								</svg>
							</button>
						</div>
						<button class="globalBtn -shoppinglist hide -frommd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena łącznie: </span>
							<span class="price">258.99</span>
							<span class="currency">zł</span>
						</div>
					</div> {# end of cell #}
					<button class="close" type="button">
						<span class="fas fa-times"></span>
					</button>
				</article> {# end of table row #}
				<article class="table-row">
					<div class="cell">
						<a href="#!" class="image-box">
							<img src="assets/img/products/cart-example.jpg" class="img" alt="">
						</a>
						<div>
							<span class="ean">EAN: 6421951096002</span>
							<h2 class="name">
								<a href="#!" class="link">Tailored Fit Iris Blue Twill Jacket Dark Blue Limited Gentleman’s edition</a>
							</h2>
						</div>
						<button class="globalBtn -shoppinglist hide -tomd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena: </span>
							<span class="price">101.99</span>
							<span class="currency">zł / szt</span>
						</div>
					</div> {# end of cell #}
					<div class="cell">
						<div class="cartpage-qty">
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-minus"></use>
								</svg>
							</button>
							<span class="qty">3</span>
							<button class="btn" type="button">
								<svg class="icon">
									<use xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-plus"></use>
								</svg>
							</button>
						</div>
						<button class="globalBtn -shoppinglist hide -frommd" type="button">
							<span class="icons icons-shoppinglist"></span>
						</button>
					</div> {# end of cell #}
					<div class="cell cartpage-prices">
						<div>
							<span class="hide -frommd">Cena łącznie: </span>
							<span class="price">258.99</span>
							<span class="currency">zł</span>
						</div>
					</div> {# end of cell #}
					<button class="close" type="button">
						<span class="fas fa-times"></span>
					</button>
				</article> {# end of table row #}
			</div> {# end of table container #}
		</section> {# end of cart page products #}
		<div class="cartpage-details">
			<div class="cartpage-shippingDelivery">
				<p class="cartpage-shipping">
					Twoje zakupy dostarczy firma kurierska DPD Polska. Za darmo!
				</p>
				<div class="cartpage-delivery">
					<strong class="title">Płatności w naszym sklepie można dokonać przez:</strong>
					<ul class="delivery-info">
						<li class="info">
							Serwis dotpay wybierając preferowaną formę płatności w przypadku odbioru w salonie stacjonarnym lub dostawy na wskazany adres. Płatność powinna zostać wykonana w ciągu 24 godzin od zatwierdzenia zamówienia.
						</li>
						<li class="info">
							Za pobraniem w przypadku dostawy przez kuriera DPD na wskazany adres.
						</li>
					</ul>
					<strong class="title">Zamówienione produkty możesz otrzynać przez:</strong>
					<ul class="delivery-info">
						<li class="info">
							dostawę na wskazany adres przez kuriera DPD w ciągu 7 dni roboczych od złożenia zamówienia.
						</li>
						<li class="info">
							odbiór osobisty w wybranym salonie stacjonarnym do 7 dni roboczych od złożenia zamówienia.
						</li>
					</ul>
					<strong class="important">
						W dniach 1-14 stycznia czas realizacji zamówień ulegnie wydłużeniu do 14 dni roboczych. Za utrudnienia przepraszamy.
					</strong>
				</div> {# end of cart page details #}
			</div>
			<div class="cartpage-summary">
				<div class="globalSelect-container">
					<label class="globalSelect-label" for="payment">Wybierz sposób płatności</label>
					<div class="globalSelect-box">
						<select class="globalSelect" id="payment" name="">
							<option value="">Przelew bankowy</option>
							<option value="">Przelew bankowy2</option>
							<option value="">Przelew bankowy3</option>
							<option value="">Przelew bankowy4</option>
						</select>
					</div> {# end of select box #}
				</div> {# end of select container #}
				<ul class="cartpage-priceSummary">
					<li class="single-row">
						<span class="dt">Netto:</span>
						<span class="dd">1899,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">VAT 23%:</span>
						<span class="dd">-191,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Brutto:</span>
						<span class="dd">2345,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Dostawa:</span>
						<span class="dd">+15,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Kod rabatowy (-10%):</span>
						<span class="dd">2158,98</span>
					</li>
					<li class="single-row -last">
						<span class="dt">Wartość zamówienia:</span>
						<span class="dd">2158,98 zł</span>
					</li>
				</ul>  {# end of cart page price summary #}
			</div>  {# end of cart page summary #}
		</div> {# end of cart page details #}
		<footer class="cartpage-footer">
			<a href="#!" class="button -empty -prev"><span class="fas fa-chevron-left"></span> Kontynuuj zakupy</a>
			<div class="cartpage-discountCode">
				<input class="input" type="text" placeholder="wpisz kod rabatowy">
				<button class="button -highlight -discount" type="button">Przelicz</button>
			</div>
			<a href="#!" class="button -highlight -next">
				<span>Dalej</span>
				<span class="fas fa-chevron-right"></span></a>
		</footer>
	</section> {# end of page container #}
</main>
{% endblock %}

{% block script_footer %}
<script src="assets/js/cart-page.min.js"></script>
{% endblock %}