{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Koszyk</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<ul class="cartpage-steps">
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Podsumowanie zamówienia</span>
					<span class="number">1</span>
				</strong>
			</li>
			<li class="cartpage-step -current">
				<strong class="step">
					<span class="text">Dane adresowe i dostawa</span>
					<span class="number">2</span>
				</strong>
			</li>
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Płatność elektroniczna</span>
					<span class="number">3</span>
				</strong>
			</li>
		</ul>
		<div class="cartsummary-container">
			<div class="cartsummary-sidebar">
				<div class="cartsummary-box">
					<section class="section-box">
						<header class="cartsummary-header">
							<h2 class="title">Sposób wysyłki</h2>
							<a href="#!" class="link">Zmień</a>
						</header>
						Przesyłka kurierska DPD (+15PLN)
					</section>
					<section class="section-box">
						<header class="cartsummary-header">
							<h2 class="title">Adres do wysyłki</h2>
							<a href="#!" class="link">Zmień</a>
						</header>
						Michał Malinowski<br>
						ul. Kultowa 12<br>
						00-222 Michałowice<br>
						+48 123 456 789<br>
						848458867
					</section>
				</div> {# end of cart summary box #}
				<div class="cartsummary-box">
					<section class="section-box">
						<header class="cartsummary-header">
							<h2 class="title">Sposób płatności</h2>
							<a href="#!" class="link">Zmień</a>
						</header>
						Przelew bankowy
						<div class="logo-box">
							<img src="assets/img/logos/alior.png" class="logo" alt="Alior bank">
						</div>  {# end of logo box #}
					</section> {# end of section box #}
				</div> {# end of cart summary box #}
			</div> {# end of cart summary sidebar #}
			<div class="cartsummary-orderBar">
				<section class="cartsummary-box cartsummary-order">
					<h2 class="title">Twoje zamówienie</h2>
					<div class="cartpage-products">
						<div class="table-container">
							<article class="table-row">
								<div class="cell">
									<a href="#!" class="image-box">
										<img src="assets/img/products/example5.png" class="img" alt="">
									</a>
									<div>
										<span class="ean">EAN: 590095101748</span>
										<h3 class="name">
											<a href="#!" class="link">METYLAN 2szt Stop wilgoci Aero 360°tab Tabletki wymienne</a>
										</h3>
									</div>
								</div>
								<div class="cell">
									<span class="count">x3</span>
								</div>
								<div class="cell cartpage-prices">
									<div>
										<span class="price">258.99</span>
										<span class="currency">zł</span>
									</div>
								</div>
							</article> {# end of table row #}
							<article class="table-row">
								<div class="cell">
									<a href="#!" class="image-box">
										<img src="assets/img/products/example5.png" class="img" alt="">
									</a>
									<div>
										<span class="ean">EAN: 590095101748</span>
										<h3 class="name">
											<a href="#!" class="link">METYLAN 2szt Stop wilgoci Aero 360°tab Tabletki wymienne</a>
										</h3>
									</div>
								</div>
								<div class="cell">
									<span class="count">x3</span>
								</div>
								<div class="cell cartpage-prices">
									<div>
										<span class="price">258.99</span>
										<span class="currency">zł</span>
									</div>
								</div>
							</article> {# end of table row #}
							<article class="table-row">
								<div class="cell">
									<a href="#!" class="image-box">
										<img src="assets/img/products/example5.png" class="img" alt="">
									</a>
									<div>
										<span class="ean">EAN: 590095101748</span>
										<h3 class="name">
											<a href="#!" class="link">METYLAN 2szt Stop wilgoci Aero 360°tab Tabletki wymienne</a>
										</h3>
									</div>
								</div>
								<div class="cell">
									<span class="count">x3</span>
								</div>
								<div class="cell cartpage-prices">
									<div>
										<span class="price">258.99</span>
										<span class="currency">zł</span>
									</div>
								</div>
							</article> {# end of table row #}
						</div> {# end of table container #}
					</div> {# end of cart products #}
				</section> {# end of cart summary box #}
				<ul class="cartpage-priceSummary">
					<li class="single-row">
						<span class="dt">Netto:</span>
						<span class="dd">1899,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">VAT 23%:</span>
						<span class="dd">-191,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Brutto:</span>
						<span class="dd">2345,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Dostawa:</span>
						<span class="dd">+15,00 zł</span>
					</li>
					<li class="single-row">
						<span class="dt">Kod rabatowy (-10%):</span>
						<span class="dd">2158,98</span>
					</li>
					<li class="single-row -last">
						<span class="dt">Wartość zamówienia:</span>
						<span class="dd">2158,98 zł</span>
					</li>
				</ul>
			</div> {# end of cart summary order bar #}
		</div> {# end of cart summary #}
		<footer class="cartpage-footer">
			<a href="#!" class="globalBtn -prev"><svg class="icon icon-arrowleft"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-arrowleft"></use></svg> Zmień dane</a>
			<a href="#!" class="globalBtn -highlight -next -order">
				<span>Zamawiam z obowiązkiem zapłaty</span>
				<svg class="icon icon-arrowright"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-arrowright"></use></svg></a>
		</footer>
	</section> {# end of page container #}
</main>
{% endblock %}