{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Koszyk</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<article class="orderStatusPage-container">
			<header>
				<svg class="icon icon-ok"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-ok"></use></svg>
				<h2 class="title">Dziękujemy za złożenie zamówienia!</h2>
			</header>

			<p class="text">Wkrótce prześlemy e-mailem potwierdzenie przyjęcia zamówienia.</p>
			<a href="#!" class="globalBtn">Do strony głównej</a>
		</article>
	</section> {# end of page container #}
</main>
{% endblock %}