{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main class="cartpage-loginRegister" role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Koszyk</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<ul class="cartpage-steps">
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Podsumowanie zamówienia</span>
					<span class="number">1</span>
				</strong>
			</li>
			<li class="cartpage-step -current">
				<strong class="step">
					<span class="text">Dane adresowe i dostawa</span>
					<span class="number">2</span>
				</strong>
			</li>
			<li class="cartpage-step">
				<strong class="step">
					<span class="text">Płatność elektroniczna</span>
					<span class="number">3</span>
				</strong>
			</li>
		</ul>
		<section class="loginRegister-boxes">
			<article class="loginRegister-box -login -mt">
				<form action="">
					<h2 class="title">Masz już konto?</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<input class="globalInput" type="password" placeholder="Hasło">
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<span class="globalCheckbox-label"><span class="text">Zapamiętaj mnie</span></span>
					</label>
					<button class="globalBtn -highlight -submit">
						<svg class="icon icon-user"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-user"></use></svg>
						Zaloguj
					</button>
					<div class="remind-password">
						<a href="#!" class="link">Przypomnienie hasła</a>
					</div>
				</form>
			</article> {# end of login register box #}
			<article class="loginRegister-box -registration">
				<form action="">
					<h2 class="title">Utwórz konto</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<input class="globalInput" type="password" placeholder="Hasło">
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<div class="globalCheckbox-label">
							<div>
								Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r. <span class="readmore-text globalReadMore-content js-readMoreContent"> Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r.</span> <button class="highlight js-readMoreTrigger" type="button"><span data-readmore="czytaj więcej" data-readless="czytaj mniej" class="js-text">czytaj więcej</span><span class="icons icons-arrowright-small-red"></span></button>
							</div>
						</div>
					</label>
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<div class="globalCheckbox-label">
							<span class="text">
								Akceptuję warunki <a class="highlight" href="#!">regulaminu</a>
							</span>
						</div>
					</label>
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<div class="globalCheckbox-label">
							<div>
								Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r. <span class="readmore-text globalReadMore-content js-readMoreContent"> Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r.</span> <button class="highlight js-readMoreTrigger" type="button"><span data-readmore="czytaj więcej" data-readless="czytaj mniej" class="js-text">czytaj więcej</span><span class="icons icons-arrowright-small-red"></span></button>
							</div>
						</div>
					</label>
					<button class="globalBtn -highlight -submit">
						Utwórz konto
					</button>
				</form>
			</article> {# end of login register box #}
			<article class="loginRegister-box -mt">
				<form action="">
					<h2 class="title">Kupuję bez rejestracji</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<span class="globalCheckbox-label"><span class="text">Akceptuję warunki <a href="#!" class="link">regulaminu</a>*</span></span>
					</label>
					<button class="globalBtn -highlight -submit">
						Dalej
					</button>
				</form>
			</article> {# end of login register box #}
		</section> {# end of cart page products #}
	</section> {# end of page container #}
</main>
{% endblock %}