{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block styles_header %}
<link rel="stylesheet" href="assets/css/vendor/nouislider.css">
{% endblock %}

{% block content %}
<main class="catalog-page" role="main">
	<div class="wrapper">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Kategorie</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<div class="productsCatalog-container">
			<aside class="productsCatalog-sidebar">
				<section class="productsCatalog-box">
					<h4 class="title">Kategoria</h4>
					<ul class="productCatalog-list">
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" name="categories" value="Koszule">
								<span class="globalCheckbox-label"><span class="text">Koszule (4)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Spodnie" name="categories">
								<span class="globalCheckbox-label"><span class="text">Spodnie (12)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Swetry" name="categories">
								<span class="globalCheckbox-label"><span class="text">Swetry (4)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Kamizelki" name="categories">
								<span class="globalCheckbox-label"><span class="text">Kamizelki (32)</span></span>
							</label>
						</li>
					</ul>  {# end of list #}
				</section> {# end of box #}
				<section class="productsCatalog-box">
					<h4 class="title">Cena</h4>
					<div class="priceSlider-container">
						<div class="priceSlider" id="priceSlider"></div>
						<div class="priceSlider-inputs">
							<input type="text" id="js-priceSliderInputLower" class="value" data-index="0" value="12.84">
							<input type="text" id="js-priceSliderInputUpper" class="value" data-index="1" value="282.99">
						</div>  {# end of inputs #}
					</div>  {# end of price slider #}
				</section> {# end of box #}
				<section class="productsCatalog-box">
					<h4 class="title">Kategoria</h4>
					<ul class="productCatalog-list">
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" name="categories" value="Koszule">
								<span class="globalCheckbox-label"><span class="text">Koszule (4)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Spodnie" name="categories">
								<span class="globalCheckbox-label"><span class="text">Spodnie (12)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Swetry" name="categories">
								<span class="globalCheckbox-label"><span class="text">Swetry (4)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Kamizelki" name="categories">
								<span class="globalCheckbox-label"><span class="text">Kamizelki (32)</span></span>
							</label>
						</li>
					</ul>  {# end of list #}
				</section> {# end of box #}
				<section class="productsCatalog-box">
					<h4 class="title">Producent</h4>
					<ul class="productCatalog-list">
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Gentle" name="brands">
								<span class="globalCheckbox-label"><span class="text">Gentle (98)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Vistula" name="brands">
								<span class="globalCheckbox-label"><span class="text">Vistula (54)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Private Label"  name="brands">
								<span class="globalCheckbox-label"><span class="text">Private Label (15)</span></span>
							</label>
						</li>
						<li class="list-item">
							<label>
								<input type="checkbox" class="globalCheckbox" value="Emigre"  name="brands">
								<span class="globalCheckbox-label"><span class="text">Emigre (42)</span></span>
							</label>
						</li>
					</ul>  {# end of list #}
					<button class="load-more" type="button">rozwiń</button>
				</section> {# end of box #}
			</aside>
			<div class="productsCatalog-main">
				<div class="globalBanner -rounded">
					<img src="assets/img/catalog/banner1.jpg" class="image" alt="">
				</div> {# end of banner #}
				<section class="productsCatalog-products">
					<header class="productsCatalog-header">
						<h1 class="title">Garnitury</h1>
						<div class="selects-box">
							<div class="globalSelect-container">
								<label class="globalSelect-label" for="productsCountSelect">Produktów na stronie:</label>
								<div class="globalSelect-box">
									<select class="globalSelect" id="productsCountSelect" name="">
										<option value="">20</option>
										<option value="">40</option>
										<option value="">60</option>
									</select>
								</div>
							</div>
							<div class="globalSelect-container">
								<label class="globalSelect-label" for="sortBySelect">Sortuj wg:</label>
								<div class="globalSelect-box">
									<select class="globalSelect" id="sortBySelect">
										<option value="">Cena: rosnąca</option>
										<option value="">Cena: malejąca</option>
									</select>
								</div>
							</div>
						</div>
					</header> {# end of header #}
				</section> {# end of products #}
				<div class="productCards-list row -gutters15">
				</div> {# end of product card #}
				<div class="globalBanner -rounded">
					<img src="assets/img/catalog/banner2.jpg" class="image" alt="">
				</div> {# end of banner #}
				<div class="productCards-list row -gutters15">
				</div> {# end of product card #}
				<div class="globalPagination-container">
					<ul class="globalPagination-ul">
						<li class="button -prev">
							<a href="#!" class="link">Wstecz</a>
						</li>
						<li class="page">
							<a href="#!" class="link">1</a>
						</li>
						<li class="page">
							<a href="#!" class="link">2</a>
						</li>
						<li class="page">
							<a href="#!" class="link">3</a>
						</li>
						<li class="page">
							<a href="#!" class="link">4</a>
						</li>
						<li class="page -current">
							<a href="#!" class="link">5</a>
						</li>
						<li class="page">
							<a href="#!" class="link">6</a>
						</li>
						<li class="page">
							<a href="#!" class="link">7</a>
						</li>
						<li class="page">
							<a href="#!" class="link">8</a>
						</li>
						<li class="page">
							<a href="#!" class="link">9</a>
						</li>
						<li class="page">
							<span class="link">...</span>
						</li>
						<li class="page">
							<a href="#!" class="link">15</a>
						</li>
						<li class="button -next">
							<a href="#!" class="link">Dalej</a>
						</li>
					</ul>
				</div> {# end of pagination container #}
			</div> {# end of products catalog main #}
		</div> {# end of products catalog container #}
	</div> {# end of page container #}
</main>
{% endblock %}

{% block script_footer %}
<script src="assets/js/vendor/jquery-ui.min.js"></script>
<script src="assets/js/vendor/wNumb.min.js"></script>
<script src="assets/js/vendor/nouislider.min.js"></script>
<script src="assets/js/catalog-page.min.js"></script>
<script>
    $(function() {
        filterAndPrintProducts();
        var slider = document.getElementById('priceSlider');
        var priceSliderInput = [
            document.getElementById('js-priceSliderInputLower'),
            document.getElementById('js-priceSliderInputUpper')
        ];

	    noUiSlider.create(slider, {
	        start: [12, 283],
            step: 1,
	        connect: true,
	        range: {
	            'min': 0,
	            'max': 300
	        },
		    format: wNumb({
                decimals: 0,
                postfix: ' zł'
            })
	    });

        slider.noUiSlider.on('end', function() {
            filterAndPrintProducts();
        });

        slider.noUiSlider.on('update', function(values, handle) {
            priceSliderInput[handle].value = values[handle];
        });

        priceSliderInput.forEach(function(input) {
            input.addEventListener('change', function() {
                slider.noUiSlider.set(this.value);
            });
        });
        $(".globalCheckbox").on("click", function()
        {
            filterAndPrintProducts();
        });
    });
</script>
{% endblock %}