{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block styles_header %}
<link rel="stylesheet" href="assets/css/vendor/slick-slider.css">
{% endblock %}

{% block content %}
<main class="main homepage" role="main">
	<div class="wrapper">
		<article class="main-banner">
			<h2 class="title">
				<span class="text">Naturalnie z klasą</span>
				<span class="text">Darmowa dostawa</span>
				<span class="text">Na zawsze</span>
			</h2>
		</article>
	</div>
	<div class="wrapper">
		<div class="productCards-list -belowbanner row -gutters15">
			{% raw %}
			<article class="productCard" v-for="(item, index) in items">
				<a href="#!">
					<img v-bind:src="item.imageSrc" alt="">
				</a>
				<div class="productCard-details">
					<h2 class="productTitle">{{ item.name }}</h2>
					<span class="productBrand">{{ item.brand }}</span>
					<button class="heart-button" type="button">
						<span class="heart-container">
							<span class="icon heart"></span>
						</span>
						<span class="number">{{ item.likes }}</span>
					</button>
				</div>
				<div class="buttons-group">
					<button v-on:click="addItem(index)" class="button -small -highlight" type="button">
						<span class="fas fa-cart-plus"></span> {{ item.price | currencydecimal }} PLN
					</button>
					<button class="button -small -empty" type="button">
						Szczegóły
					</button>
				</div>
			</article>
			{% endraw %}
		</div> {# end of product card #}
	</div>
	<div class="wrapper -padding5">
		<section class="single-section">
			<h2 class="heading -lead">Najczęściej kupowane</h2>
			<div class="productCards-list row -popular">
				<div>

				</div>
			</div>
		</section> {# end of single section#}
	</div>
	<ul class="banners-section wrapper -nopadding">
		<li class="single-banner">
			<img src="assets/img/home-random-image.jpg" class="img" alt="">
		</li>
		<li class="single-banner">
			<img src="assets/img/home-random-image-2.jpg" class="img" alt="">
		</li>
		<li class="single-banner">
			<img src="assets/img/home-random-image-3.jpg" class="img" alt="">
		</li>
		<li class="single-banner">
			<img src="assets/img/home-random-image-4.jpg" class="img" alt="">
		</li>
	</ul> {# end of banners section #}
	<div class="wrapper">
		<div class="single-section features-section">
			<article class="single-feature">
				<header>
					<svg class="svg svg-truck">
						<use xlink:href="assets/img/icons/homepage.svg#svg-truck"></use>
					</svg>
					<h4 class="title">Bezpłatna<br>dostawa</h4>
				</header>
				<p class="description">Wyróżnia nas miedzynarodowa darmowa dostawa.</p>
			</article>
			<article class="single-feature">
				<header>
					<svg class="svg">
						<use xlink:href="assets/img/icons/homepage.svg#svg-delivery"></use>
					</svg>
					<h4 class="title">Dostarczamy<br>wszędzie</h4>
				</header>
				<p class="description">Dostarczamy zamówienia na terenie całej Polski i Unii Europejskiej.</p>
			</article>
			<article class="single-feature">
				<header>
					<svg class="svg">
						<use xlink:href="assets/img/icons/homepage.svg#svg-payments"></use>
					</svg>
					<h4 class="title">Bezpieczne<br>płatności</h4>
				</header>
				<p class="description">Bez obaw. Korzystam z usług internetowych gigantów.</p>
			</article>
			<article class="single-feature">
				<header>
					<svg class="svg">
						<use xlink:href="assets/img/icons/homepage.svg#svg-hours"></use>
					</svg>
					<h4 class="title">Wysyłka w ciągu<br>24 godzin</h4>
				</header>
				<p class="description">Każdego dnia. Siedem dni w tygodniu. Nawet w święta.</p>
			</article>
		</div> {# end of features section #}
	</div> {# end of wrapper #}

</main>
{% endblock %}

{% block script_footer %}
	<script defer src="assets/js/vendor/svgxuse.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script>
        $(function () {
            $('.productCards-list.-popular').slick({
                // autoplay: true,
                autoplaySpeed: 4000,
                infinite: true,
                slidesToShow: 8,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 9999,
                        settings: "unslick"
                    },
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
	</script>
{% endblock %}
