{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main class="cartpage-loginRegister" role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Zarejestruj / Zaloguj się</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<section class="loginRegister-boxes">
			<article class="loginRegister-box -login -mt">
				<form action="">
					<h2 class="title">Panel logowania</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<input class="globalInput" type="password" placeholder="Hasło">
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<span class="globalCheckbox-label"><span class="text">Zapamiętaj mnie</span></span>
					</label>
					<button class="globalBtn -highlight -submit">
						<svg class="icon icon-user"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/icons/vectors/icons-sprite.svg#icon-user"></use></svg>
						Zaloguj
					</button>
				</form>
			</article> {# end of login register box #}
			<article class="loginRegister-box -registration">
				<form action="">
					<h2 class="title">Utwórz konto</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<input class="globalInput" type="password" placeholder="Hasło">
					<label class="label-box">
						<input type="checkbox" class="globalCheckbox" name="" checked="">
						<div class="globalCheckbox-label">
							<div>
								Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r. <span class="readmore-text globalReadMore-content js-readMoreContent"> Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r.</span> <button class="highlight js-readMoreTrigger" type="button"><span data-readmore="czytaj więcej" data-readless="czytaj mniej" class="js-text">czytaj więcej</span><span class="icons icons-arrowright-small-red"></span></button>
							</div>
						</div>
					</label>
					<div class="gvalidation -error">
						<label class="label-box">
							<input type="checkbox" class="globalCheckbox" name="" checked="">
							<div class="globalCheckbox-label">
								<span class="text">
									Akceptuję warunki <a class="highlight" href="#!">regulaminu</a>
								</span>
							</div>
						</label>
						<p class="gvalidation-text">Pole jest wymagane</p>
					</div>

					<div class="gvalidation -error">
						<label class="label-box">
							<input type="checkbox" class="globalCheckbox" name="" checked="">
							<div class="globalCheckbox-label">
								<div>
									Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r. <span class="readmore-text globalReadMore-content js-readMoreContent"> Wyrażam zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez bdsklep.pl, moich danych osobowych, teraz i w przyszłości, zgodnie z polskim prawem, w szczególności Ustawą z dnia 29.08.1997 r.</span> <button class="highlight js-readMoreTrigger" type="button"><span data-readmore="czytaj więcej" data-readless="czytaj mniej" class="js-text">czytaj więcej</span><span class="icons icons-arrowright-small-red"></span></button>
								</div>
							</div>
						</label>
						<p class="gvalidation-text">Pole jest wymagane</p>
					</div>
					<button class="globalBtn -highlight -submit">
						Utwórz konto
					</button>
				</form>
			</article> {# end of login register box #}
			<article class="loginRegister-box -mt">
				<form action="">
					<h2 class="title">Zapomniałem hasła</h2>
					<input class="globalInput" type="text" placeholder="E-mail">
					<button class="globalBtn -highlight -submit">
						Przypomnij hasło
					</button>
				</form>
			</article> {# end of login register box #}
		</section> {# end of cart page products #}
	</section> {# end of page container #}
</main>
{% endblock %}