{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Moje konto</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<section class="profilepage-container">
			<aside class="profilepage-menuContainer">
				<ul class="profilepage-menu">
					<li class="menu-li -current">
						<a href="#!" class="link">Moje dane</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje zamówienia</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje karty/płatności</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moja lista zakupów</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Adres dostawy</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Newsletter</a>
					</li>
				</ul>
			</aside> {# end of profile menu container #}
			<div class="profilepage-content flex-inline">
				<article class="profilepage-dataBox">
					<form action="">
						<h2 class="title">Informacje podstawowe</h2>
						<label class="globalInputLabel" for="email">E-mail</label>
						<input class="globalInput" id="email" type="text" placeholder="E-mail" value="testmail@gmail.com">
						<input class="globalInput" id="email" type="text" placeholder="E-mail" value="testmail@gmail.com">
						<label class="globalInputLabel" for="password">Hasło</label>
						<input class="globalInput" id="password" type="password" placeholder="*************" value="*************">
						<button class="globalBtn -highlight -submit">
							Zapisz
						</button>
					</form>
				</article> {# end of data box #}
				<article class="profilepage-dataBox">
					<form action="">
						<h2 class="title">Zmień hasło</h2>
						<label class="globalInputLabel" for="password2">Aktualne hasło</label>
						<input class="globalInput" id="password2" type="password" placeholder="*************">
						<label class="globalInputLabel" for="password3">Nowe hasło</label>
						<input class="globalInput" id="password3" type="password">
						<label class="globalInputLabel" for="password4">Nowe hasło</label>
						<input class="globalInput" id="password4" type="password">
						<button class="globalBtn -highlight -submit">
							Zmień hasło
						</button>
					</form>
				</article> {# end of data box #}
			</div> {# end of profile content #}
		</section> {# end of profile page container #}
	</section> {# end of page container #}
</main>
{% endblock %}