{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Moje konto</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<section class="profilepage-container">
			<aside class="profilepage-menuContainer">
				<ul class="profilepage-menu">
					<li class="menu-li">
						<a href="#!" class="link">Moje dane</a>
					</li>
					<li class="menu-li -current">
						<a href="#!" class="link">Moje zamówienia</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje karty/płatności</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moja lista zakupów</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Adres dostawy</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Newsletter</a>
					</li>
				</ul>
			</aside> {# end of profile menu container #}
			<div class="profilepage-content">
				<div class="globalSelect-container">
					<label class="globalSelect-label" for="show">Pokaż</label>
					<div class="globalSelect-box">
						<select class="globalSelect" id="show" name="">
							<option value="">Wszystkie</option>
							<option value="">Wszystkie2</option>
							<option value="">Wszystkie3</option>
							<option value="">Wszystkie4</option>
						</select>
					</div>
				</div>
				<div class="table-container">
					<div class="table-row -head">
						<div class="cell">Nr zamówienia</div>
						<div class="cell">Data złożenia zamówienia</div>
						<div class="cell">Ilość sztuk</div>
						<div class="cell">Wartość</div>
						<div class="cell">Status</div>
						<div class="cell"></div>
					</div>
					<div class="table-row">
						<div class="cell">0313487312</div>
						<div class="cell">2017-02-15 15:24:40</div>
						<div class="cell">3</div>
						<div class="cell">122.66 zł</div>
						<div class="cell">Wysłane</div>
						<div class="cell"><a href="#!" class="details">Szczegóły</a></div>
					</div>
					<div class="table-row">
						<div class="cell">0313487312</div>
						<div class="cell">2017-02-15 15:24:40</div>
						<div class="cell">3</div>
						<div class="cell">122.66 zł</div>
						<div class="cell">Wysłane</div>
						<div class="cell"><a href="#!" class="details">Szczegóły</a></div>
					</div>
					<div class="table-row">
						<div class="cell">0313487312</div>
						<div class="cell">2017-02-15 15:24:40</div>
						<div class="cell">3</div>
						<div class="cell">122.66 zł</div>
						<div class="cell">Wysłane</div>
						<div class="cell"><a href="#!" class="details">Szczegóły</a></div>
					</div>
					<div class="table-row">
						<div class="cell">0313487312</div>
						<div class="cell">2017-02-15 15:24:40</div>
						<div class="cell">3</div>
						<div class="cell">122.66 zł</div>
						<div class="cell">Wysłane</div>
						<div class="cell"><a href="#!" class="details">Szczegóły</a></div>
					</div>
				</div> {# end of data box #}
			</div> {# end of profile content #}
		</section> {# end of profile page container #}
	</section> {# end of page container #}
</main>
{% endblock %}