{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Moje konto</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<section class="profilepage-container -fwidth">
			<aside class="profilepage-menuContainer">
				<ul class="profilepage-menu">
					<li class="menu-li">
						<a href="#!" class="link">Moje dane</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje zamówienia</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje karty/płatności</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moja lista zakupów</a>
					</li>
					<li class="menu-li -current">
						<a href="#!" class="link">Adres dostawy</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Newsletter</a>
					</li>
				</ul>
			</aside> {# end of profile menu container #}
			<div class="profilepage-content">
				<ul class="profilepage-deliveries">
					<li class="single-delivery">
						<span class="title">Biuro</span>
						<div class="address-box" itemscope itemtype="http://schema.org/deliveryAddress">
							<span itemprop="name">Michał Malinowski</span><br>
							ul.<span itemprop="streetAddress">Kultowa 12</span><br>
							<span itemprop="postalCode">00-222</span>, <span itemprop="addressLocality">Michałowice</span><br>
							<span itemprop="telephone" content="+48123456789">+48 123 456 789</span><br>
							<span>848458867</span>
						</div>
						<div class="action-links">
							<button class="alink" type="button">Zmień</button> |
							<button class="alink" type="button">Usuń</button>
						</div>
					</li>
					<li class="single-delivery">
						<span class="title">Biuro</span>
						<div class="address-box" itemscope itemtype="http://schema.org/deliveryAddress">
							<span itemprop="name">Michał Malinowski</span><br>
							ul.<span itemprop="streetAddress">Kultowa 12</span><br>
							<span itemprop="postalCode">00-222</span>, <span itemprop="addressLocality">Michałowice</span><br>
							<span itemprop="telephone" content="+48123456789">+48 123 456 789</span><br>
							<span>848458867</span>
						</div>
						<div class="action-links">
							<button class="alink" type="button">Zmień</button> |
							<button class="alink" type="button">Usuń</button>
						</div>
					</li>
					<li class="single-delivery -add">
						<a href="" class="link">
							<span class="plus">+</span>
							dodaj adres
						</a>
					</li>
				</ul>
			</div> {# end of profile content #}
		</section> {# end of profile page container #}
	</section> {# end of page container #}
</main>
{% endblock %}