{% set meta = { 'title': '' } %}

{% extends "template.njk" %}

{% block content %}
<main role="main">
	<section class="page-container">
		<ul class="breadcrumbs-ul">
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Strona główna</a>
			</li>
			<li class="breadcrumbs-li">
				<a href="#!" class="link">Moje konto</a>
			</li>
		</ul> {# end of breadcrumbs ul #}
		<section class="profilepage-container">
			<aside class="profilepage-menuContainer">
				<ul class="profilepage-menu">
					<li class="menu-li">
						<a href="#!" class="link">Moje dane</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moje zamówienia</a>
					</li>
					<li class="menu-li -current">
						<a href="#!" class="link">Moje karty/płatności</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Moja lista zakupów</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Adres dostawy</a>
					</li>
					<li class="menu-li">
						<a href="#!" class="link">Newsletter</a>
					</li>
				</ul>
			</aside> {# end of profile menu container #}
			<div class="profilepage-content">
				<ul class="profilepage-payments">
					<li class="single-payment">
						<div class="payment-header">
							<span>Bank Millennium S.A.</span>
							<img src="assets/img/logos/visa.png" class="logo" alt="">
						</div>
						<span class="number">XXXX XXXX XXXX - 5415</span>
					</li>
					<li class="single-payment -add">
						<a href="" class="link">
							<span class="plus">+</span>
							dodaj<br>
							metodę płatności
						</a>
					</li>
				</ul>
			</div> {# end of profile content #}
		</section> {# end of profile page container #}
	</section> {# end of page container #}
</main>
{% endblock %}