<!DOCTYPE html>
<html lang="pl" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ meta.title }}</title>
    <meta name="description" content="">
    <meta name="image" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon@3x.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon@2x.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Muli:400,600,700|Poppins:300,400,500,600&amp;subset=latin-ext" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<!-- Styles -->
	{% block styles_header %}{% endblock %}
    <link rel="stylesheet" href="assets/css/main.css">


    <!-- Scripts -->
    <!-- Google Analytics -->

</head>
<body>
<!--[if lte IE 9]><p>You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->

<div id="page-container" class="vueGentle">
	<div class="pushContent">
		<nav class="mobileMenu" role="navigation">
			<div class="mobileMenuSearch">
				<input type="text" class="mms-search" placeholder="Szukaj">
				<button class="mms-submit">
					<span class="fa fa-search"></span>
				</button>
			</div> {# end of mobile search #}
			<ul class="mobileMenu-links">
				<li>
					<a href="#!" class="mm-link js-levelTrigger" role="button">
						Garnitury
						<span class="fas fa-chevron-right"></span>
					</a>
					<div class="mobileMenu-level">
						<a href="#!" class="mml-back" role="button">
							<h2 class="mml-title">
								<span class="fas fa-chevron-left"></span>
								Garnitury
							</h2>
						</a>
						<ul>
							<li>
								<a class="mm-link" href="#">Komplety</a>
							</li>
							<li>
								<a class="mm-link" href="#">Spodnie</a>
							</li>
							<li>
								<a class="mm-link" href="#">Marynarki</a>
							</li>
							<li>
								<a class="mm-link" href="#">Koszule</a>
							</li>
							<li>
								<a class="mm-link" href="#">Kamizelki</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#!" class="mm-link">
						Marynarki
					</a>
				</li>
				<li>
					<a href="#!" class="mm-link">
						Koszule
					</a>
				</li>
				<li>
					<a href="#!" class="mm-link js-levelTrigger" role="button">
						Spodnie
						<span class="fas fa-chevron-right"></span>
					</a>
					<div class="mobileMenu-level">
						<a href="#!" class="mml-back" role="button">
							<h2 class="mml-title">
								<span class="fas fa-chevron-left"></span>
								Spodnie
							</h2>
						</a>
						<ul>
							<li>
								<a class="mm-link" href="#">Kamizelki</a>
							</li>
							<li>
								<a class="mm-link" href="#">Koszule</a>
							</li>
							<li>
								<a class="mm-link" href="#">Marynarki</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#!" class="mm-link js-levelTrigger" role="button">
						Swetry
						<span class="fas fa-chevron-right"></span>
					</a>
					<div class="mobileMenu-level">
						<a href="#!" class="mml-back" role="button">
							<h2 class="mml-title">
								<span class="fas fa-chevron-left"></span>
								Swetry
							</h2>
						</a>
						<ul>
							<li>
								<a class="mm-link" href="#">Spodnie</a>
							</li>
							<li>
								<a class="mm-link" href="#">Kamizelki</a>
							</li>
							<li>
								<a class="mm-link" href="#">Koszule</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#!" class="mm-link">
						Kamizelki
					</a>
				</li>
				<li>
					<a href="#!" class="mm-link">
						Buty
					</a>
				</li>
				<li>
					<a href="#!" class="mm-link">
						Akcesoria
					</a>
				</li>
			</ul>
		</nav>

		{% block header %}{% include 'partials/header.njk' %}{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% include 'partials/footer.njk' %}{% endblock %}

	</div> {# end of push content #}
</div> {# end of page container#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/vue/cart.min.js"></script>
<script src="assets/js/vue/like-product.min.js"></script>
<script src="assets/js/app.min.js"></script>

{% block script_footer %}{% endblock %}
</body>
</html>