@import '../vendor/_module'
@import '_variables'
@import '_mixins'
@import '_utilities'
@import '_helpers'

*
    box-sizing: border-box

a
    &:hover
        text-decoration: none

body, input, button
    font-family: 'Poppins', sans-serif

input, select, body
    font-size: 14px

button
    background-color: transparent
    border: 0
    &:focus
        outline: none

ul
    list-style-type: none

html
    overflow-y: scroll
    touch-action: manipulation

body
    height: 100%
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    line-height: 1.5

button
    cursor: pointer
    padding: 0

select
    appearance: none
    &::-ms-expand
        display: none

img
    max-width: 100%
    height: auto