@import '_variables'

.flex-inline
    display: flex
    &.-vcenter
        align-items: center
    &.-spacebtwn
        justify-content: space-between

.gmt
    margin-top: 20px !important

.gfullwidth
    width: 100% !important
    max-width: none !important

.highlight
    color: $highlightc

a.highlight, button.highlight
    &:hover
        color: darken($highlightc, 10%)

.hide-to-lg
    +max-breakpoint-lg
        display: none
