<div class="dropdownComponent -cart">
	<button class="rootCart js-dropdown-trigger" type="button">
		<span class="fas fa-cart-arrow-down"></span>
		<span class="badge">{% raw %} {{ itemsInCartNumber }} {% endraw %}</span>
	</button>
	<div class="cartDropdown-box dropdownComponent-menu -right">
		<ul class="cartDropdown-items">
			{% raw %}
			<li class="cartDropdown-item" v-for="(item, index) in cart">
				<button class="remove js-remove-cart-product" type="button" v-on:click="removeItem(index)">
					<span class="fa fa-times"></span>
				</button>
				<a href="#!" class="cartDropdown-img">
					<img v-bind:src="item.imageSrc" alt="Example">
				</a>
				<div class="cartDropdown-details">
					<a href="#!" class="name">
						{{ item.name }}
					</a>
					<div class="cartDropdown-pricebar">
						<span class="cartDropdown-singleprice">{{ item.price | currencydecimal }} <small> zł / szt.</small></span>
						<div class="cartDropdown-qty">
							<button class="btn js-add-qty" v-on:click="decreaseQty(index)">
								<span class="fa fa-minus"></span>
							</button>
							<span class="qty">{{ item.qty }}</span>
							<button class="btn js-sub-qty" v-on:click="increaseQty(index)">
								<span class="fa fa-plus"></span>
							</button>
						</div>
						<div class="cartDropdown-price">
							<span class="price">{{ item.qty * item.price | currencydecimal }}</span> zł
						</div>
					</div>
				</div>
			</li>
			{% endraw %}
		</ul>
		<div class="cartDropdown-summary">
			<span class="text vbottom">Wartość koszyka</span>
			<span class="totalprice vbottom">{% raw %} {{ total | currencydecimal }} {% endraw %}<span class="currency">zł</span></span>
		</div> {# end of summary #}
		<div class="cartDropdown-buttons">
			<a href="#!" class="button -empty js-removeFromBasket -small" v-on:click="clearCart()">Usuń przedmioty</a>
			<a href="#!" class="button -highlight -small">Do kasy</a>
		</div> {# end of buttons group #}
	</div> {# end of cart dropdown box #}
</div> {# end of cart dropdown component #}