<footer class="rootFooter">
	<section class="prefooter-section single-section">
		<div class="wrapper">
			<h3 class="stitle">
				<span class="marked">Gotowy, by zacząć?</span>
				Napisz do nas, albo zarejestruj się.
			</h3>
		</div> {# end of wrapper #}
	</section> {# end of prefooter section #}

	<div class="wrapper -nopadding">
		<div class="footerNav-container">
			<div class="footerNav-column">
				<ul>
					<li class="single-li">
						<span class="gentle-logo">
							<img src="assets/img/gentle.svg" class="logo" alt="Gentle"> <span class="marked">gentle</span><span class="switch woman">wo</span><span class="man">man</span>
						</span>
					</li>

					<li class="single-li contact-info">
						<div><a href="tel:123456789" class="link">123 456 789</a></div>
						<div><a href="mailto:gentle@gentle.com" class="link">gentle@gentle.com</a></div>
					</li>
					<li class="single-li">
						<dl>
							<dt class="dt">Godziny pracy:</dt>
							<dd class="dd">Pon. - Pt. od 9:00 do 16:00</dd>
						</dl>
					</li>
				</ul>
			</div> {# end of column #}
			<div class="footerNav-columns">
				<div class="footerNav-column">
					<h4 class="title">O nas</h4>
					<ul class="footerNav-ul">
						<li>
							<a href="#!" class="link">Firma gentle</a>
						</li>
						<li>
							<a href="#!" class="link">Nasza historia</a>
						</li>
						<li>
							<a href="#!" class="link">Kontakt</a>
						</li>
						<li>
							<a href="#!" class="link">Nasze marki</a>
						</li>
					</ul>
				</div>
				<div class="footerNav-column">
					<h4 class="title">Obsługa klienta</h4>
					<ul class="footerNav-ul">
						<li>
							<a href="#!" class="link">Jak kupować?</a>
						</li>
						<li>
							<a href="#!" class="link">Metody płatności</a>
						</li>
						<li>
							<a href="#!" class="link">Dostawa</a>
						</li>
						<li>
							<a href="#!" class="link">Zwroty i reklamacje</a>
						</li>
						<li>
							<a href="#!" class="link">Kontakt</a>
						</li>
					</ul>
				</div>
				<div class="footerNav-column">
					<h4 class="title">Regulaminy</h4>
					<ul class="footerNav-ul">
						<li>
							<a href="#!" class="link">Regulamin e-sklepu</a>
						</li>
						<li>
							<a href="#!" class="link">Polityka prywatności</a>
						</li>
						<li>
							<a href="#!" class="link">Cookies</a>
						</li>
					</ul>
				</div>
				<div class="footerNav-column">
					<h4 class="title">Kontakt</h4>
					<ul class="footerNav-ul">
						<li>
							<a href="#!" class="link">Formularz kontaktowy</a>
						</li>
						<li>
							<a href="#!" class="link">Dane kontaktowe</a>
						</li>
					</ul>
				</div>
				<div class="footerNav-column">
					<div class="social-box">
						<a href="#!" class="social">
							<span class="fab fa-facebook-square"></span>
						</a>
						<a href="#!" class="social -ig">
							<span class="fab fa-instagram"></span>
						</a>
					</div>
				</div>
			</div>  {# end of columns #}
		</div> {# end of container #}
	</div> {# end of wrapper #}
	<div class="footerBar-container">
		<div class="footerBar-box wrapper">
			<div class="copyright-box">
				<small class="copyright">Copyright &copy; 2018</small>
				<p class="text">
					Gentle Sp. z o.o., Przykładowa 45 04-212 Warszawa,
					Kapitał zakładowy (w całości opłacony): 100 000 PLN,
					NIP: 1234567891
				</p>
			</div> {# end of copyright box #}
		</div> {# end of footerbar box #}
	</div> {# end of footer bar container #}
</footer>