<header class="rootHeader">
	<div class="wrapper">
		<div class="icons-bar row -vcenter -spacebtwn">
			<button class="menu-bars js-menuTrigger">
				<span class="bar"></span>
			</button>
			<a href="index.html">
				<h1 class="gentle-logo">
					<img src="assets/img/gentle.svg" class="logo" alt="Gentle">
					<span class="marked">gentle</span>
					<span class="switch woman">wo</span>
					<span class="man">man</span>
				</h1>
			</a>
			{% include 'partials/cart-dropdown.njk' %}
			<a href="#!" class="rootHeader-login hide-to-lg">
				Zarejestruj / Zaloguj się
			</a>
		</div> {# end of icons bar #}
		<nav class="rootNavigation">
			<ul class="rootCategories-list row">
				<li class="rc-elem">
					<a href="#!" class="rc-link">Garnitury</a>
				</li>
				<li class="rc-elem">
					<a href="#!" class="rc-link">Marynarki</a>
				</li>
				<li class="rc-elem">
					<a href="#!" class="rc-link">Koszule</a>
				</li>
				<li class="hide-to-lg">
					<ul class="row">
						<li class="rc-elem">
							<a href="#!" class="rc-link">Spodnie</a>
						</li>
						<li class="rc-elem">
							<a href="#!" class="rc-link">Swetry</a>
						</li>
						<li class="rc-elem">
							<a href="#!" class="rc-link">Kamizelki</a>
						</li>
						<li class="rc-elem">
							<a href="#!" class="rc-link">Buty</a>
						</li>
						<li class="rc-elem">
							<a href="#!" class="rc-link -marked">Akcesoria</a>
						</li>
					</ul>
				</li>
			</ul> {# end of rootCategories list #}
			<label class="searchComponent hide-to-lg">
				<input class="input" type="text" placeholder="Szukaj produktu...">
				<button class="submit" type="submit">
					<span class="fa fa-search"></span>
				</button>
			</label> {# end of search component #}
		</nav>
	</div> {# end of wrapper #}
</header>

<div class="discount-alert">
	<div class="wrapper">
		<p class="text">Tylko teraz! Rabat dla nowych i stałych klientów. Aby skorzystać ze zniżki wpisz w zamówieniu <span class="marked">Rabat15</span><span class="fa fa-cut"></span></p>
	</div>
</div>
