.banners-section
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: 10px
    .single-banner
        margin-top: 20px
        border-radius: 3px
        overflow: hidden
        +min-breakpoint-md
            padding: 10px
    .img
        display: block