.breadcrumbs-ul
    display: flex
    align-items: center
    font-weight: 300
    margin-top: 20px
    font-size: 12px
    font-family: $font-secondary
    > .breadcrumbs-li
        display: flex
        align-items: center
        &:not(:last-child)
            &::after
                content: ' - '
                margin-left: 6px
                margin-right: 6px

    .link
        color: #828282
        &:hover
            color: $highlightc