.features-section
    display: flex
    flex-wrap: wrap
    justify-content: center
    font-weight: 300
    line-height: 1.1
    padding-bottom: 50px
    > .single-feature
        text-align: center
        margin-top: 45px
        padding-left: 20px
        padding-right: 20px
        min-width: 250px
        max-width: 300px
        flex-basis: 0
        flex-grow: 1
        &:hover
            .svg, .title
                color: $highlightc
    .svg
        margin-left: auto
        margin-right: auto
        font-size: 42px
        height: 42px
        color: #344568
        transition: color .3s
        &.svg-truck
            font-size: 30px
    .title
        font-size: 24px
        margin-top: 20px
        font-weight: $font-light
        color: #344568
        transition: color .3s
    .description
        font-family: $font-secondary
        color: $descriptionc
        margin-top: 20px
        line-height: 1.3