.prefooter-section
    background-color: #344568
    .title
        font-size: 16px
        font-weight: $font-light
        line-height: 1.6
    .marked
        color: #6b86be
        font-size: 24px
        display: block
    .wrapper
        display: flex
        align-items: center
        justify-content: space-between
        height: 100px

.rootFooter
    background-color: #2d3c5b
    color: white
    .social-box
        display: flex
        align-items: center
        padding-bottom: 15px
        margin-top: 28px
        +min-breakpoint-xl
            justify-content: flex-end
        .social
            color: white
            font-size: 26px
            +min-breakpoint-lg
                font-size: 30px
            &:hover
                color: #708abd
            &.-ig
                margin-left: 45px
    .contact-info
        font-weight: $font-medium
        font-size: 16px
        .link
            color: white
            &:hover
                color: #708abd
    .logo
        height: 43px
    .dt
        font-weight: $font-semibold
        padding-bottom: 8px
        font-size: 14px
    .dd
        color: #59709e

.footerNav-container
    font-size: 13px
    padding-top: 35px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .title
        margin-top: 35px
        font-weight: $font-semibold
        font-size: 14px
        padding-bottom: 24px

.footerNav-columns
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    flex: 1 1 auto
    .footerNav-column
        @media (min-width: 360px)
            width: 50%
        @media (min-width: $breakpoint-md)
            width: 33.3333333%
        @media (min-width: $breakpoint-xl)
            width: auto

.footerNav-column
    width: 220px
    padding-left: 20px
    padding-right: 20px
    .single-li
        &:nth-child(n+2)
            margin-top: 30px

.footerNav-ul
    line-height: 30px
    .link
        margin-top: 15px
        color: #59709e
        &:hover
            color: #708abd

.footerBar-container
    border-top: 1px solid rgba(#e3e3e3, .1)
    padding-top: 20px
    padding-bottom: 20px
    margin-top: 25px
    +min-breakpoint-md
        padding-top: 30px
        padding-bottom: 30px
        margin-top: 35px


.footerBar-box
    font-size: 11px
    font-weight: $font-regular
    color: #676b74
    .copyright
        display: block
        +max-breakpoint-md
            margin-bottom: 20px
    .copyright-box
        @media (max-width: $breakpoint-md - 1)
            padding-top: 10px
            padding-bottom: 10px
        +min-breakpoint-md
            display: flex
            align-items:  center
            .text
                max-width: 365px
                margin-left: 30px