.rootHeader
    background-color: #2d3c5b
    background-image: url('../img/header-bg.jpg')
    color: white
    padding-top: 20px
    height: 150px
    background-repeat: no-repeat
    .wrapper
        position: relative
    +min-breakpoint-lg
        background-position: center
        padding-top: 30px
    .gentle-logo
        +max-breakpoint-lg
            .marked, .switch, .man
                display: none
    .icons-bar
        padding-bottom: 20px
        +min-breakpoint-lg
            padding-bottom: 15px
        +max-breakpoint-lg
            border-bottom: 1px solid #cbcbcb
    .logo
        display: block
        width: 38px
        +max-breakpoint-lg
            margin-left: 20px
    .rootCart
        font-size: 22px
        color: white
        position: relative
        margin-right: -15px
        padding: 3px 15px
        z-index: 101
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        +min-breakpoint-lg
            &:hover
                color: #88b0ff
        > .badge
            top: 3px
            left: 10px
    .rootHeader-login
        font-family: $font-secondary

        font-weight: $font-semibold
        color: white
        &:hover
            color: #88b0ff

.rootNavigation
    display: flex
    align-items: center
    justify-content: space-between
    +min-breakpoint-lg
        padding-right: 55px

.rootCategories-list
    font-weight: 500
    text-transform: uppercase
    flex: 1 0 auto
    margin-left: -15px
    margin-right: -15px
    +max-breakpoint-lg
        justify-content: center
    .rc-link
        padding: 15px
        color: white
        display: block
        &:hover
            color: #88b0ff
        &.-marked
            color: #88b0ff
            &:hover
                color: lighten(#88b0ff, 5%)