.menu-bars
    width: 20px
    height: 20px
    +min-breakpoint-lg
        display: none
    &.-animate
        .bar
            background: rgba(255, 255, 255, 0)
            &::after
                top: 0
                transform: rotate(45deg)
                transition: top .1s linear, transform .1s .1s linear
                transition-delay: .5s
            &::before
                bottom: 0
                transform: rotate(-45deg)
                transition: bottom .1s linear, transform .1s .1s linear
                transition-delay: .5s

    .bar
        width: 20px
        height: 2px
        position: relative
        background: rgba(255, 255, 255, 1)
        transition: all 0ms .1s
        transition-delay: .5s
        display: block
        &::before, &::after
            content: ''
            position: absolute
            left: 0
            height: 2px
            width: 20px
            background: rgba(255, 255, 255, 1)
        &::before
            bottom: 6px
            transition: bottom .1s .1s linear, transform .1s linear
            transition-delay: .5s
        &::after
            top: 6px
            transition: top .1s .1s linear, transform .1s linear
            transition-delay: .5s

.pushContent
    position: relative
    left: 0
    z-index: 99
    height: 100%
    perspective: 1000px
    transition: transform 0.5s
    &::after
        position: absolute
        top: 0
        right: 0
        width: 0
        height: 0
        content: ''
        opacity: 0
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.menu-open .pushContent::after
    width: 100%
    height: 100%
    opacity: 1
    transition: opacity 0.5s

.mobileMenu
    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: 100
    visibility: hidden
    width: 280px
    height: 100%
    background-color: white
    transition: all 0.5s
    border-right: 1px solid #dde3e5
    padding-left: 20px
    padding-right: 20px
    text-align: center
    &::after
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.2)
        content: ''
        opacity: 1
        transition: opacity 0.5s

.menu-open .mobileMenu::after
    width: 0
    height: 0
    opacity: 0
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

#page-container
    &.menu-open .pushContent
        transform: translate3d(280px, 0, 0)
    .mobileMenu
        transform: translate3d(-100%, 0, 0)
        &::after
            display: none
    &.menu-open .mobileMenu
        visibility: visible
        transition: transform 0.5s

.mobileMenuSearch
    border-bottom: 1px solid #dde3e5
    display: flex
    align-items: center
    position: relative
    .mms-search
        padding-top: 15px
        padding-bottom: 15px
    .mms-submit
        position: absolute
        top: 12.5px
        right: 0
        font-size: 20px

.mobileMenu
    &-links
        text-transform: uppercase
        font-weight: 300
        background-color: white
        position: relative
        overflow: hidden
        .mm-link, .mml-back
            color: #222
            display: block
            padding-top: 15px
            padding-bottom: 15px
        .mm-link
            position: relative
        .mml-back
            border-bottom: 1px solid #dde3e5
        .fa-chevron-right
            position: absolute
            right: 0
            top: 17.5px
    &-level
        opacity: 0
        transform: translate3d(100%, 0, 0)
        transition: transform .4s, opacity .3s
        transform-origin: top left
        position: absolute
        width: 100%
        height: 100%
        bottom: 0
        left: 0
        top: 0
        background-color: white
        z-index: 1
        &.-visible
            opacity: 1
            transform: translate3d(0, 0, 0)
        .mml-title
            position: relative
        .fa-chevron-left
            position: absolute
            left: 0
            top: 2.5px