@mixin display-child($n)
    @for $i from 2 through $n
        &:nth-child(#{$i})
            display: inline-block

.globalPagination-container
    margin-top: 48px
    padding-top: 35px
    border-top: 1px solid #e9e9e9
    font-family: $font-secondary

.globalPagination-ul
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    @media (max-width: $breakpoint-lg - 1)
        .page
            display: none
            &.-current
                display: block
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg - 1)
        .page
            @include display-child(5)
    .button
        font-weight: 700
        font-family: $font-primary
        padding-left: 0
        padding-right: 0
        &.-prev
            margin-right: 20px
            +min-breakpoint-lg
                margin-right: auto
        &.-next
            margin-left: 20px
            +min-breakpoint-lg
                margin-left: auto
        .link
            color: black
            border: 1px solid #dedede
            width: 97px
            &:hover
                color: $highlightc
                border-color: $highlightc
    .link
        height: 40px
        border-radius: 3px
        display: block
        text-align: center
        line-height: 40px
    .page
        &.-current
            .link
                background-color: #344568
                color: white
                pointer-events: none

        .link
            color: $highlightc
            width: 40px
            &:hover
                color: black

        span.link
            &:hover
                color: $highlightc