.cartpage-steps
    display: flex
    margin-top: 10px
    margin-bottom: 25px

.cartpage-step
    flex: 1 0 auto
    text-align: center
    padding: 25px 20px
    font-size: 24px
    font-weight: 700
    border-bottom: 1px solid #dbdbdb
    .text
        @media (max-width: $breakpoint-lg - 1)
            display: none
    .number
        @media (min-width: $breakpoint-lg)
            display: none
    .step
        color: #909090
    &.-current
        border-bottom-color: $highlightc
        .step
            color: $highlightc
    &.-done
        border-bottom-color: black
        .step
            color: black

.cartpage-products
    line-height: 1.4
    .table-container
        display: flex
        flex-flow: column nowrap
        flex: 1 1 auto
        margin-top: 35px
    .table-row
        width: 100%
        display: flex
        flex-flow: row nowrap
        position: relative
        @media (max-width: $breakpoint-md - 1)
            flex-direction: column
        &.-head
            font-family: 'Open Sans', sans-serif
            color: #7d7d7d
            padding-bottom: 20px
            @media (max-width: $breakpoint-md - 1)
                display: none

        .cell:nth-child(3)
            @media (max-width: $breakpoint-md - 1)
                margin-top: 15px
            @media (min-width: $breakpoint-md)
                justify-content: center
        &:nth-child(n+2)
            border-bottom: 1px solid #dedede
            padding-top: 10px
            padding-bottom: 10px
    .close
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        &:hover
            .fa-times
                fill: #a4a4a4
        .fa-times
            font-size: 12px
            fill: #bdbdbd
    .cell
        display: flex
        flex-flow: row nowrap
        overflow: hidden
        min-width: 0
        align-items: center
        @media (min-width: $breakpoint-md)
            flex-grow: 1
            flex-basis: 0
        &:first-child
            flex-grow: 5
        &:nth-child(n+2)
            padding-left: 10px
            padding-right: 10px
        &:last-of-type
            @media (min-width: $breakpoint-md)
                margin-left: 20px
                max-width: 110px
        &.cartpage-prices
            @media (max-width: $breakpoint-md - 1)
                display: flex
                align-items: center
                margin-top: 15px
    .globalBtn.-shoppinglist
        margin-left: 50px
        width: 43px
        display: flex
        justify-content: center
        align-items: center
        &:hover
            background-color: $highlightc
            border-color: $highlightc
    .image-box
        width: 80px
        height: 80px
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        margin-right: 30px
        flex: 0 0 80px
    .img
        display: block
        max-height: 100%
    .ean
        color: #7d7d7d
        font-size: 11px
        font-family: $font-secondary
    .name
        max-width: 290px
        font-size: 14px
    .link
        color: black
        &:hover
            color: $highlightc

.cartpage-prices
    font-weight: 700
    .price
        font-size: 16px
    .currency
        font-size: 12px

.cartpage-qty
    border-radius: 3px
    border: 1px solid #dedede
    font-weight: 700
    height: 52px
    width: 152px
    flex: 1 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    overflow: hidden
    font-size: 18px
    .qty
        flex: 1 0 auto
        text-align: center
    > .btn
        padding-left: 23px
        padding-right: 23px
        height: 52px
        display: flex
        align-items: center
        justify-content: center
        background-color: white
        font-size: 14px
        &:hover
            .icon
                color: $highlightc

.cartpage-details
    display: flex
    justify-content:  space-between
    @media (max-width: $breakpoint-md - 1)
        flex-direction: column

.cartpage-shippingDelivery
    max-width: 600px
    font-family: 'Open Sans', sans-serif

.cartpage-shipping
    padding-top: 35px
    padding-bottom: 25px
    display: flex
    align-items: center
    .icon
        margin-right: 15px
        fill: $highlightc
        font-size: 23px

.cartpage-delivery
    border-radius: 3px
    border: 1px solid #dedede
    padding-left: 25px
    padding-right: 25px
    padding-bottom: 25px
    margin-top: 15px
    font-size: 13px
    line-height: 1.3
    .title, .important
        font-weight: 700
        padding-top: 25px
        display: block
    .info
        &::before
            content: '- '
    .important
        text-transform: uppercase
        font-weight: 700

.cartpage-summary
    max-width: 480px
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-end
    .globalSelect-container
        margin-top: 15px
        width: 100%
        justify-content: flex-end

.cartpage-priceSummary
    text-align: right
    margin-top: 10px
    font-size: 18px
    max-width: 330px
    width: 100%
    white-space: nowrap
    margin-left: auto
    .dt
        white-space: nowrap
    .dd
        flex-basis: 100px
        margin-left: 10px
    .single-row
        margin-top: 20px
        display: flex
        align-items: center
        justify-content: flex-end
        &.-last
            margin-top: 35px
            align-items: flex-end
            @media (max-width: $breakpoint-md - 1)
                flex-direction: column
            .dt, .dd
                font-weight: 700
            .dd
                font-size: 36px
                flex-basis: 100%
                position: relative
                top: 5px

.cartpage-discountCode
    display: flex
    .input
        border: 1px solid #dadada
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        padding-left: 15px
        padding-right: 15px
        width: 157px
        @media (min-width: $breakpoint-md)
            width: 170px
        &::placeholder
            color: black
            font-weight: 700
    .button.-discount
        margin-left: -1px
        border-top-left-radius: 0
        border-bottom-left-radius: 0

.cartpage-footer
    display: flex
    justify-content: flex-end
    margin-top: 25px
    @media (max-width: $breakpoint-md - 1)
        flex-direction: column
    .button
        height: 52px
        line-height: 52px
        padding-left: 25px
        padding-right: 25px
        font-size: 16px
        text-align: center
        position: relative
        font-weight: $font-medium
        text-transform: uppercase
        .fas
            width: 13px
            position: absolute
            top: 50%
            transform: translateY(-50%)
        &.-prev
            min-width: 250px
            padding-left: 63px
            color: black
            transition: all .15s
            &:hover
                color: #3c5ea5
            @media (max-width: $breakpoint-md - 1)
                margin-bottom: 15px
            .fas
                margin-right: 25px
                left: 25px
        &.-next
            padding-right: 38px
            max-width: 300px
            width: 100%
            @media (max-width: $breakpoint-md - 1)
                margin-top: 15px
            @media (min-width: $breakpoint-md)
                margin-left: 30px
            .fas
                right: 25px
        &.-order
            max-width: 400px
        &:first-child
            margin-right: auto

// cartpage-loginRegister
.loginRegister-boxes
    margin-top: 40px
    display: flex
    justify-content: space-between
    align-items: flex-start
    @media (max-width: $breakpoint-xl - 1)
        flex-direction: column
        align-items: center
    .title
        margin-bottom: 30px
        font-size: 18px
        text-transform: uppercase
        font-weight: 700
    .globalInput
        margin-top: 15px
    .globalBtn
        display: flex
        align-items: center
        justify-content: center
        margin-top: 20px
        .icon
            margin-right: 15px
            font-size: 16px
            position: relative
            top: -1px
    .label-box
        display: inline-block
        margin-top: 20px
        font-family: 'Open Sans', sans-serif
        font-size: 11px
    .icons-arrowright-small-red
        position: relative
        left: 4px
    .link
        text-decoration: underline
        color: black
        &:hover
            color: $highlightc
    .highlight
        text-decoration: underline
        font-size: 11px

.loginRegister-box
    max-width: 300px
    width: 100%
    &.-mt
        margin-top: 15px
    &.-login
        .link
            display: flex
            justify-content: center
    .remind-password
        text-align: center
        margin-top: 20px
    &.-registration
        max-width: 360px
        width: 100%
        border-radius: 3px
        border: 1px solid #dedede
        padding: 32px
        @media (max-width: $breakpoint-xl - 1)
            margin-top: 40px
            margin-bottom: 40px

// cartPage user data
.cartpage-userDataContainer
    margin-top: 5px
    font-family: 'Open Sans', sans-serif
    .title
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        padding-bottom: 5px
        font-family: 'Yantramanav', sans-serif
    .globalSelect-box
        &.-w665
            max-width: 665px
    .globalSelect-container, .globalInput-box
        margin-top: 15px
    .globalSelect, .globalInput
        padding-left: 15px
        font-weight: 300
        font-size: 14px
    .globalInput
        max-width: none
    .globalInput-box
        //max-width: 320px
        width: 100%
        &.-w665
            max-width: 665px
        &.-fixed
            flex: 1 0 auto
        &.-slash
            position: relative
            &::after
                content: '/'
                color: #dedede
                position: absolute
                right: -15px
                top: 50%
                transform: translateY(-50%)
    .globalInput
        &::placeholder
            color: #909090
            font-size: 14px
    .input-row
        @extend .flex-inline
        align-items: flex-start
        overflow: hidden
        @media (max-width: $breakpoint-xl - 1)
            flex-direction: column
        .globalInput-box
            &:nth-child(n+2)
                @media (min-width: $breakpoint-xl)
                    margin-left: 25px
            &.-fwidth
                max-width: none
        &.-address
            .globalInput-box
                &:nth-child(2), &:nth-child(3)
                    max-width: 120px
                &:nth-child(4)
                    max-width: 165px
    .cartpage-footer
        font-family: 'Yantramanav', sans-serif
        margin-top: 75px

.userData-box
    margin-top: 10px
    + .userData-box
        margin-top: 45px
        padding-top: 58px
        border-top: 1px solid #dbdbdb

.userData-header
    @extend .flex-inline
    @media (max-width: $breakpoint-md - 1)
        flex-direction: column
    @media (min-width: $breakpoint-md)
        align-items: center
    .title
        padding-bottom: 15px
        @media (min-width: $breakpoint-md)
            padding-bottom: 0
    padding-bottom: 5px
    .label-box
        @media (min-width: $breakpoint-md)
            margin-left: 40px

.cartsummary-container
    display: flex
    align-items: flex-start
    margin-top: 30px
    font-family: 'Open Sans', sans-serif
    @media (max-width: $breakpoint-lg - 1)
        flex-direction: column
        align-items: center
    .title
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        font-family: 'Yantramanav', sans-serif

.cartsummary-sidebar
    max-width: 440px
    width: 100%
    line-height: 30px
    @media (min-width: $breakpoint-lg)
        margin-right: 30px
    .cartsummary-box
        padding-right: 20px
        padding-left: 20px
        padding-bottom: 20px
        @media (min-width: $breakpoint-lg)
            padding-left: 65px
            padding-right: 65px
            padding-bottom: 50px
        + .cartsummary-box
            margin-top: 30px

    .section-box
        padding-top: 20px
        @media (min-width: $breakpoint-lg)
            margin-top: 50px
    .logo-box
        display: inline-block
        vertical-align: middle
        max-height: 28px
        margin-left: 15px
        max-width: 80px
    .logo
        max-height: 28px
        height: 100%


.cartsummary-box
    border-radius: 3px
    border: 1px solid #dedede

.cartsummary-header
    @extend .flex-inline
    @extend .-vcenter
    padding-bottom: 5px
    .link
        color: #929292
        text-decoration: underline
        margin-left: 25px
        font-size: 12px
        &:hover
            color: darken(#929292, 10%)

.cartsummary-orderBar
    width: 100%
    @media (min-width: $breakpoint-lg)
        min-width: 610px
    .cartpage-priceSummary
        font-family: 'Yantramanav', sans-serif
        padding-top: 20px
        margin-top: 0

.cartsummary-order
    padding: 20px
    @media (max-width: $breakpoint-lg - 1)
        margin-top: 30px
    @media (min-width: $breakpoint-lg)
        padding: 50px 65px
    font-family: 'Yantramanav', sans-serif
    .name
        max-width: 190px
    .image-box
        background-color: #f1f1f1
        padding: 5px
        border-radius: 3px
    .count
        font-size: 18px
        font-weight: 700
    .cell
        &:nth-child(2)
            justify-content: flex-end
            @media (min-width: $breakpoint-lg)
                justify-content: center
    .table-row
        border-bottom: 0 !important
        &:first-child
            padding-bottom: 10px
        .cell
            &:nth-child(3)
                margin-left: 0
                justify-content: flex-end

.orderStatusPage-container
    text-align: center
    padding-top: 60px
    padding-bottom: 80px
    @media (min-width: $breakpoint-md)
        padding-top: 120px
        padding-bottom: 140px
    .icon-ok, .title
        color: $successc
    .icon-ok
        font-size: 60px
    .title
        font-size: 24px
        font-weight: 700
        @media (min-width: $breakpoint-md)
            font-size: 36px
    .title, .text
        margin-top: 20px
    .text
        margin-top: 20px
        font-size: 14px
        font-family: 'Open Sans', sans-serif
        @media (min-width: $breakpoint-md)
            font-size: 18px
    .globalBtn
        margin-top: 50px
        height: 52px
        line-height: 52px
        padding-left: 25px
        padding-right: 25px
        font-size: 18px
        text-align: center


