.productsCatalog-container
    display: flex
    +max-breakpoint-lg
        flex-direction: column

.productsCatalog-sidebar
    max-width: 195px
    flex: 1 0 100%
    font-family: $font-secondary
    .title
        text-transform: uppercase
        font-size: 16px
        font-weight: $font-semibold
        font-family: $font-primary
        letter-spacing: .7px

.productsCatalog-box
    margin-top: 40px

    .priceSlider-container
        margin-top: 18px
    .load-more
        color: #a8a8a8
        margin-left: 30px
        margin-top: 8px
        text-decoration: underline
        &:hover
            color: darken(#a8a8a8, 20%)

.productCatalog-list
    margin-top: 4px
    > .list-item
        margin-top: 14px

// main
.productsCatalog-main
    margin-top: 25px
    width: 100%
    @media (min-width: $breakpoint-lg)
        margin-left: 35px

.productsCatalog-header
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 35px
    flex-wrap: wrap
    .title
        font-size: 20px
        text-transform: uppercase
        font-weight: $font-semibold
    .selects-box
        display: flex
        align-items: center
        flex-wrap: wrap
        font-family: $font-secondary
    .globalSelect-container
        @media (max-width: $breakpoint-md - 1)
            margin-top: 15px
        &:first-child
            margin-right: 40px
    .globalSelect-box
        width: auto
        padding-right: 0
        &::before
            padding: 6px
        &::after
            right: 0

    .globalSelect-label
        margin-right: 0
        font-size: 13px
        color: #828282
        font-weight: $font-regular
    .globalSelect
        padding-left: 4px
        height: auto
        border: 0
        font-weight: $font-bold
        -webkit-appearance: none
        line-height: normal
        option
            padding-top: 3px
            padding-bottom: 3px
            &:hover
                color: $highlightc
    .selectText
        color: #828282
    .icons-arrowdown-small-red
        margin-left: 4px


// banners
.catalog-page
    .productCards-list
        & + .globalBanner
            margin-top: 30px
    .globalBanner + .productCards-list
        margin-top: 0
