.main-banner
    background-image: url('../img/main-banner.jpg')
    color: white
    height: 360px
    display: flex
    align-items: center
    justify-content: flex-end
    background-position: center right 42%
    background-repeat: no-repeat
    margin-top: 15px
    +min-breakpoint-md
        background-position: center
    +max-breakpoint-xl
        margin-left: -25px
        margin-right: -25px
    .title
        padding-left: 20px
        padding-right: 20px
        line-height: 1
        margin-top: -40px
        @media (min-width: 360px)
            margin-top: -25px
        @media (min-width: 830px)
            margin-right: 10%
    .text
        display: block
    .text:first-child
        font-size: 18px
    .text:nth-of-type(2), .text:last-child
        font-weight: 500
    .text:nth-of-type(2)
        font-size: 26px
        margin-top: 10px
        @media (min-width: 360px)
            font-size: 32px
    .text:last-child
        font-size: 52px
        margin-top: 5px
        @media (min-width: 360px)
            font-size: 60px
