.profilepage-container
    @extend .flex-inline
    margin-top: 50px
    max-width: 1045px
    @media (max-width: $breakpoint-lg - 1)
        flex-direction: column
    &.-fwidth
        max-width: 100%

.profilepage-menuContainer
    width: 215px
    margin-right: 16px
    flex: 0 0 215px

.profilepage-menu
    font-size: 18px
    font-weight: 700
    border-left: 1px solid #dbdbdb
    .menu-li
        position: relative
        &:nth-child(n+2)
            margin-top: 15px
        &::before
            content: ''
            position: absolute
            left: -1px
            height: 100%
            width: 1px
            display: block
        &.-current
            border-color: $highlightc
            &::before
                background-color: $highlightc
            .link
                color: $highlightc
    .link
        height: 48px
        line-height: 48px
        padding-left: 25px
        color: black
        display: block
        &:hover
            color: lighten(black, 40%)

.profilepage-content
    width: 100%
    @media (max-width: $breakpoint-lg - 1)
        margin-top: 50px
        flex-direction: column
        align-items: center
    &.flex-inline
        .profilepage-dataBox
            &:not(:first-child)
                @media (min-width: $breakpoint-lg)
                    margin-left: 95px
    .globalSelect-box
        max-width: 200px
    .globalSelect
        font-size: 14px
        font-family: 'Open Sans', sans-serif
    .globalSelect-label
        font-size: 16px
    .table-container
        display: flex
        flex-flow: column nowrap
        margin-top: 40px
        white-space: nowrap
        overflow: auto
        .table-row
            width: 750px
            display: flex
            flex-flow: row nowrap
            position: relative
            &.-head
                font-family: 'Open Sans', sans-serif
                color: #7d7d7d
                padding-bottom: 20px
                font-weight: 300
        .table-row:not(.-head)
            font-size: 16px
            padding-top: 17px
            padding-bottom: 17px
        .cell
            display: flex
            flex-flow: row nowrap
            flex-grow: 1
            flex-basis: 0
            overflow: hidden
            min-width: 0
            align-items: center
            &:nth-child(2)
                flex-grow: 0
                flex-basis: 205px
            &:nth-child(3)
                justify-content: center
            &:not(:first-child)
                padding-left: 15px
            &:not(:last-child)
                padding-right: 15px

        .details
            font-weight: 900
            color: $highlightc
            text-decoration: underline
            text-transform: uppercase
            

.profilepage-dataBox
    max-width: 300px
    width: 100%
    @media (max-width: $breakpoint-lg - 1)
        margin-top: 25px
    .title
        padding-bottom: 25px
        font-weight: 700
        font-size: 21px
    .globalBtn
        width: auto
        padding-left: 40px
        padding-right: 40px
        margin-top: 30px
    .globalInputLabel
        margin-top: 20px

    .globalInput
        margin-top: 7px
        &::placeholder
            color: #acabab

.profilepage-payments
    display: flex
    flex-wrap: wrap
    font-size: 18px
    font-weight: 900
    justify-content: space-between
    .single-payment
        border: 1px solid #dedede
        border-radius: 3px
        padding: 33px 41px
        height: 200px
        max-width: 365px
        min-width: 272px
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-bottom: 20px
        &.-add
            padding: 0
            line-height: 1.3
            &:hover
                border-color: darken(#dedede, 10%)
                .link
                    color: darken(#a8a8a8, 10%)
            .link
                display: flex
                color: #a8a8a8
                text-transform: uppercase
                flex-direction: column
                justify-content: center
                text-align: center
                padding: 33px 41px
                width: 100%
                height: 100%
            .plus
                font-size: 44px
                font-family: 'Open Sans', sans-serif
                line-height: 1

    .payment-header
        display: flex
        align-items: flex-start
    .logo
        margin-left: auto
        position: relative
        right: -16px

.profilepage-shoppinglist
    &.-lists
        .productCard-prices
            margin-top: 10px
        .productCard-buttons
            margin-top: 25px
    .productCards-box
        display: flex
        flex-wrap: wrap
        margin-left: -7.5px
        margin-right: -7.5px
    .productCard-header
        @extend .flex-inline
        @extend .-vcenter
        justify-content: space-between
        padding-left: 16px
        padding-right: 16px
        padding-top: 9px
    .icon-close
        font-size: 13px
        color: #bdbdbd
        display: block
        &:hover
            color: darken(#bdbdbd, 10%)
    .title
        text-transform: uppercase
    .image
        margin-top: 18px
        margin-bottom: 18px
    .price
        font-size: 16px
    .globalBtn
        width: 100%
    // add
    .productCard-box.-add
        @extend .flex-inline
        color: #a8a8a8
        text-transform: uppercase
        flex-direction: column
        justify-content: center
        align-items: center
        font-size: 18px
        line-height: 1.3
        &:hover
            border-color: #c5c5c5
            color: #8f8f8f
        .shoppinglistIcon
            margin-bottom: 20px
    // list
    .globalBtn2
        margin-bottom: 35px
        display: inline-flex
        align-items: center
        .icons-gobackarrow
            margin-right: 8px

.shoppinglistDetails-header
    @extend .flex-inline
    @extend .flex-inline.-vcenter
    @media (max-width: $breakpoint-lg - 1)
        flex-direction: column
        align-items: flex-start
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 5px
    .title
        font-size: 24px
    .link
        @extend .flex-inline
        @extend .flex-inline.-vcenter
        @media (min-width: $breakpoint-lg)
            margin-left: 30px
        @media (max-width: $breakpoint-lg - 1)
            margin-top: 20px
        color: #a8a8a8
        .icon
            margin-right: 8px
        &:hover
            color: darken(#a8a8a8, 10%)
    .link:not(:first-of-type)
        @media (min-width: $breakpoint-lg)
            margin-left: auto

.profilepage-shoppinglistDetails
    .globalBtn.-addtocart
        margin-left: 0
    .productCard-buttons
        flex-direction: column
    .buttons-box
        @extend .flex-inline
        margin-top: 10px
        .globalBtn
            padding-left: 15px
            padding-right: 15px
            flex: 1 0 auto
            width: auto
            color: #a8a8a8
            &:hover
                color: white
            &.-remove
                margin-left: 10px
    .globalDropdown.-visible .globalBtn.-tolist
        background-color: $highlightc
        color: white
        border-color: $highlightc
    .globalDropdown-menu
        width: 216px
        margin-left: -10px
    .addNewList-box
        display: flex
        margin-top: 10px
        .input
            border: 1px solid #dadada
            border-top-left-radius: 3px
            border-bottom-left-radius: 3px
            padding-left: 15px
            padding-right: 15px
            width: 125px
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
            &::placeholder
                color: black
        .globalBtn
            margin-left: -1px
            height: 40px
            line-height: 40px
            padding-left: 15px
            padding-right: 15px
            font-size: 14px
            text-align: center
            color: white
    .signs
        display: flex
        align-items: center
        justify-content: center

.profilepage-deliveries
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: -30px
    .title
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
    .single-delivery
        border: 1px solid #dedede
        border-radius: 3px
        padding: 30px 60px 20px 60px
        line-height: 2.1
        max-width: 435px
        width: 100%
        margin-top: 30px
        height: 280px
        &.-add
            font-size: 18px
            line-height: 1.3
            font-weight: 700
            max-width: 365px
            &:hover
                border-color: #c5c5c5
                .link
                    color: #8f8f8f
            .link
                display: flex
                color: #a8a8a8
                text-transform: uppercase
                flex-direction: column
                justify-content: center
                text-align: center
                width: 100%
                height: 100%
            .plus
                font-size: 44px
                font-family: 'Open Sans', sans-serif
                line-height: 1
    .address-box
        font-family: 'Open Sans', sans-serif
        font-weight: 300
    .action-links
        margin-top: 10px
        font-size: 12px
        color: #929292
        font-family: 'Open Sans', sans-serif
    .alink
        color: #929292
        text-decoration: underline
        display: inline-block
        font-family: inherit
        font-size: inherit
        &:hover
            color: darken(#929292, 15%)
        &:first-child
            margin-right: 5px
        &:nth-child(2)
            margin-left: 5px

.profilepage-newsletter
    margin-top: 25px
    max-width: 810px
    @media (max-width: $breakpoint-lg - 1)
        margin-top: 50px
        max-width: 400px
    .label-box
        margin-top: 40px
        display: inline-block
        font-family: 'Open Sans', sans-serif
        line-height: 1.5
    .globalCheckbox-label
        &::before
            position: relative
            top: 4px
        &::after
            top: 8px !important
        .link
            text-decoration: underline
            color: black
            &:hover
                color: $highlightc

.newsletterpage-header
    .title
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1.1px
        margin-bottom: 10px
    .desc
        font-weight: 300
        color: #505050
        font-size: 16px

.newsletterpage-inputBox
    @extend .flex-inline
    margin-top: 20px
    margin-bottom: 10px
    @media (max-width: $breakpoint-lg - 1)
        flex-direction: column
    .globalInput
        color: #505050
        font-size: 18px
        font-family: 'Open Sans', sans-serif
        &::placeholder
            color: #505050
            font-size: 18px
            font-family: 'Open Sans', sans-serif
    .globalInput, .globalBtn
        height: 60px
        line-height: 60px
    .globalBtn
        padding-left: 25px
        padding-right: 25px
        max-width: 230px
        width: 100%
        font-size: 24px
        @media (max-width: $breakpoint-lg - 1)
            margin-top: 15px
            max-width: 300px
        @media (min-width: $breakpoint-lg)
            margin-left: 20px