.badge
    width: 18px
    height: 18px
    background-color: #5a719f
    color: white
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    font-size: 10px
    border-radius: 50%
    font-family: $font-secondary
    font-weight: 700