.buttons-group
    display: flex
    align-items: center
    .button:not(:first-child)
        margin-left: 10px

.button
    border-radius: 5px
    color: #3c5ea5
    font-size: 12px
    padding-left: 18px
    padding-right: 18px
    &.-small
        height: 40px
        line-height: 40px
    &.-highlight
        background-color: $button-highlightc
        color: white
        transition: background-color .15s
        &:hover
            background-color: $button-highlightc-hover
    &.-empty
        border: 1px solid #dde3e5
        transition: border-color .15s
        &:hover
            border-color: $button-highlightc