.dropdownComponent.-cart
    +min-breakpoint-lg
        position: absolute
        right: 20px
        bottom: 6px

.dropdownComponent.-visible
    .rootCart
        background-color: white
        color: #2d3c5b
        +min-breakpoint-lg
            &:hover
                color: #2d3c5b

.cartDropdown-box
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 15px
    margin-right: -15px
    background-color: white
    width: 315px
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    box-shadow: 0 0 29px 0 rgba(0,0,0,.15)
    overflow: hidden
    z-index: 100
    color: black
    font-size: 10px
    font-family: $font-secondary
    @media (min-width: 330px)
        width: 330px
    @media (min-width: 400px)
        width: 378px

.cartDropdown-item
    position: relative
    display: flex
    justify-content: flex-start
    margin-top: 20px
    .remove
        position: absolute
        top: -6px
        right: 0
        font-size: 16px
        color: #bdbdbd
        &:hover
            color: darken(#bdbdbd, 10%)

.cartDropdown-details
    margin-left: 10px
    width: 100%
    @media (min-width: 380px)
        margin-left: 15px
    .name
        font-size: 12px
        color: black
        max-width: 175px
        width: 100%
        display: block
        padding-bottom: 5px
        font-weight: 700
        &:hover
            color: $highlightc

.cartDropdown-img
    width: 50px
    height: 50px
    flex: 1 0 auto
    border-radius: 4px
    overflow: hidden
    display: block
    border: 2px solid #f4f4f4
    @media (min-width: 380px)
        width: 60px
        height: 60px

.cartDropdown-qty
    border-radius: 3px
    border: 1px solid #dedede
    font-size: 12px
    font-weight: 700
    height: 30px
    width: 80px
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 10px
    .btn
        width: 30px
        height: 30px
        display: flex
        align-items: center
        justify-content: center
        font-size: 11px
        &:hover
            color: $highlightc

.cartDropdown-pricebar
    display: flex
    align-items: center
    font-weight: 700

.cartDropdown-price
    margin-left: auto
    font-weight: 600
    font-size: 14px

.cartDropdown-summary
    border-top: 1px solid #bdbdbd
    padding-top: 10px
    margin-top: 20px
    display: flex
    justify-content: flex-end
    align-items: center
    > .text
        text-transform: uppercase
        font-size: 14px
        font-weight: 700
    > .totalprice
        font-size: 24px
        margin-left: 15px
        font-weight: 600

.cartDropdown-buttons
    display: flex
    justify-content: space-between
    margin-top: 10px
    font-family: $font-primary
    text-transform: uppercase
    > .button
        width: 50%
        text-align: center
        font-size: 14px
        font-weight: 500
        border-radius: 3px
        &:first-child
            margin-right: 10px