.globalCheckbox
    position: absolute
    overflow: hidden
    clip: rect(0 0 0 0)
    height: 1px
    width: 1px
    margin: -1px
    &:checked
        & + .globalCheckbox-label::before
            background-color: $highlightc
            border-color: $highlightc
        & + .globalCheckbox-label::after
            content: ''
            position: absolute
            background: url("../img/icons/agree.svg") no-repeat
            width: 9px
            height: 7px
            display: block
            left: 3px
            top: 7px

    &-label
        display: flex
        align-items: flex-start
        position: relative
        cursor: pointer
        &:hover
            &::before
                border-color: $highlightc
        &::before
            content: ''
            display: flex
            justify-content: center
            align-items: center
            width: 15px
            height: 15px
            border-radius: 3px
            border: 1px solid #bcbcbc
            margin-right: 13px
            color: white
            flex: 0 0 15px
            position: relative
            top: 3px