.discount-alert
    border-top: 1px dashed #bababa
    border-bottom: 1px dashed #bababa
    color: #7295db
    padding-top: 10px
    padding-bottom: 10px
    font-size: 12px
    margin-top: 15px
    overflow: hidden
    +min-breakpoint-md
        padding-top: 15px
        padding-bottom: 15px
        font-size: 14px
    .text
        position: relative
        display: inline-block
    .fa-cut
        position: absolute
        opacity: .13
        color: #344568
        font-size: 48px
        right: 0
        top: 50%
        transform: translateY(-50%)
        +min-breakpoint-md
            right: -8%
    .marked
        color: #0a1326
        margin-left: 3px
        display: inline