.dropdownComponent
    position: relative
    &.-visible
        .dropdownComponent-menu
            display: block

.dropdownComponent-menu
    position: absolute
    top: 100%
    display: none
    &.-right
        right: 0