.globalInput-row
    @media (min-width: $breakpoint-md)
        display: flex
        align-items: flex-start
        justify-content: flex-start
        > .globalInput-box, > .globalInput
            &:not(:first-child)
                margin-left: 25px

.globalInput-box
    .text
        font-size: 12px
        display: none
        margin-top: 9px
        line-height: 1.2
    &.-error
        .globalInput
            border-color: $highlightc
            &:focus
                border-color: $highlightc
            &::placeholder
                color: $highlightc
        .text
            color: $highlightc
            display: inline-block
    &.-fullwidth
        flex: 1 0 auto

.globalInputLabel
    font-size: 16px
    display: inline-block
    & + .globalInput
        margin-top: 7px

.globalInput
    border-radius: 3px
    border: 1px solid #dedede
    padding-left: 20px
    padding-right: 15px
    height: 52px
    display: flex
    align-items: center
    max-width: 300px
    width: 100%
    font-size: 16px
    color: black
    &.-fullwidth
        max-width: none
    &:focus
        border-color: black
    &::placeholder
        font-size: 16px
        color: black
    &.-error
        border-color: $highlightc
        &::placeholder
            color: $highlightc

.globalSelect-container
    display: flex
    align-items: center

.globalSelect-label
    font-weight: 700
    margin-right: 30px

.globalSelect-box
    position: relative
    max-width: 300px
    width: 100%
    flex: 1 0 auto
    &::before, &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 0
        pointer-events: none
    &::before
        padding: 10px
        right: 1px
        background-color: white
    &::after
        width: 0
        height: 0
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 6px solid $highlightc
        right: 15px

.globalSelect
    border-radius: 3px
    border: 1px solid #dedede
    padding-left: 20px
    padding-right: 15px
    height: 52px
    line-height: 52px
    width: 100%