.heading
    &.-lead
        font-family: $font-secondary
        font-size: 18px
        font-weight: $font-bold
        text-align: center
        margin-bottom: 20px
        +min-breakpoint-md
            margin-bottom: 40px
            font-size: 24px
        text-transform: uppercase
        &::after
            content: ''
            height: 1px
            width: 120px
            margin-left: auto
            margin-right: auto
            display: block
            margin-top: 22px
            background-color: #5c72ae