.icon
    &::after
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        -webkit-font-smoothing: antialiased

.svg
    display: inline-block
    width: 1em
    height: 1em
    stroke-width: 0
    stroke: currentColor
    fill: currentColor
    &-truck
        width: 1.32421875em