.priceSlider-container
    position: relative
    .noUi-connect
        background-color: $highlightc
        height: 3px
    .noUi-handle
        width: 13px !important
        height: 13px  !important
        border-radius: 50%
        background-color: $highlightc
        &:focus
            outline: none

.priceSlider
    height: 3px
    width: 100%
    background-color: #c6c6c6

.priceSlider-inputs
    display: flex
    justify-content: space-between
    margin-top: 12px
    > .value
        width: 86px
        height: 30px
        line-height: 30px
        border: 1px solid #d6d6d6
        border-radius: 3px
        text-align: center
        &::after
            content: ' zł'