.productCards-list
    +max-breakpoint-md
        margin-left: -25px
        margin-right: -25px
    &.-belowbanner
        +max-breakpoint-md
            .productCard:not(:first-child)
                display: none
    &.-popular
        margin-top: -30px

.productCard
    max-width: 290px
    padding-left: 15px
    padding-right: 15px
    width: 100%
    margin-top: 30px
    display: flex
    flex-direction: column
    +max-breakpoint-xl
        margin-left: auto
        margin-right: auto
    .productTitle
        font-weight: 500
        padding-bottom: 1px
    .productBrand
        color: #9c9c9c
        font-size: 13px
        font-weight: 300
    .buttons-group
        margin-top: auto
    .fa-cart-plus
        font-size: 18px
        margin-right: 10px
    .button
        font-family: $font-secondary
        flex: 1
        box-sizing: border-box
        white-space: nowrap
        margin-top: 8px
        +max-breakpoint-md
            padding-left: 10px
            padding-right: 10px
        &.-highlight
            font-weight: 600
            display: flex
            align-items: center
            justify-content: center
        &.-empty
            font-weight: 700

.productCard-details
    position: relative
    padding-right: 55px
    margin-top: 10px
    .heart-button
        position: absolute
        right: 0
        top: 0
        font-size: 14px
        display: flex
        align-items: center
        color: $button-highlightc
        padding-left: 23px
        &.-liked
            .heart
                animation-name: example
                animation-iteration-count: 1
                animation-duration: .5s
                &::after
                    font-weight: 700
    .heart-container
        text-align: center
        position: absolute
        left: 0
        width: 25px
        height: 35px
        display: flex
        align-items: center
        justify-content: center
    .heart
        font-size: 22px
        &::after
            font-family: "Font Awesome 5 Free"
            content: "\f004"
    .number
        margin-left: 6px


@keyframes example
    50%
        font-size: 26px
    100%
        font-size: 22px

