.searchComponent
    background-color: white
    border-radius: 15px
    height: 30px
    line-height: 30px
    max-width: 250px
    width: 100%
    margin-left: 25px
    position: relative
    color: #8c929e
    font-size: 13px
    padding-left: 38px
    padding-right: 15px
    font-family: $font-secondary
    ::placeholder
        color: #8c929e
        font-size: 13px
        font-family: $font-secondary
        font-weight: $font-semibold
    .input
        width: 100%
    .submit
        position: absolute
        left: 15px
        top: 4px
        color: #2d3c5b
        &:hover
            color: $highlightc
