@import 'base/_global'

#page-container, .pushContent
    height: 100%

*
    box-sizing: border-box

.page-container
    position: relative
    overflow: hidden
    width: 100%

.wrapper
    max-width: 1180px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    &.-nopadding
        padding-left: 0
        padding-right: 0
    &.-padding5
        padding-left: 5px
        padding-right: 5px

.wrapper-fullwidth
    max-width: 1200px
    padding-left: 20px
    padding-right: 20px

.row
    display: flex
    flex-wrap: wrap
    &.-vcenter
        align-items: center
    &.-spacebtwn
        justify-content: space-between
    &.-gutters
        margin-right: -20px
        margin-left: -20px
    &.-gutters15
        margin-right: -15px
        margin-left: -15px

.single-section
    margin-top: 30px
    +min-breakpoint-md
        margin-top: 40px

.gentle-logo
    display: flex
    align-items: center
    color: white
    font-size: 18px
    transition: 0.3s
    .switch
        overflow: hidden
        height: 27px
    .woman
        transition: 0.3s
        width: 0
    .man, .woman
        display: block
    &:hover
        .woman
            width: 26.5px
    .marked
        font-weight: $font-medium
        &::after
            content: ''
            position: absolute
            font-weight: $font-light
    .logo
        & + .marked
            margin-left: 12px

@import 'components/_module'
@import 'layout/_module'
@import 'pages/_module'

